<%= back_to_lesson %>

<div class="devise_box forum_container">

  <% flash.each do |message_type, message| %>
    <% if message_type == "notice" %>
      <p class="alert alert-info alert-dismissible text-center"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= notice %></p>
    <% elsif message_type == "alert" %>
      <p class="alert alert-danger alert-dismissible text-center"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= alert %></p>
    <% else %>
      <div class="alert alert-<%= message_type %> alert-dismissible text-center"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= message %></div>
    <% end %>
  <% end %>

  <h3>Guidelines</h3>
  <ul>

    <li><strong>Google your question first</strong></li>
    <ul>
      <li>Becoming a great googler and getting your own answers is an essential skill to become a competent developer. Google is smarter than anyone, ask it first, and if you still don't understand, seek for assistance.</li>
    </ul>

    <li><strong>Ask good questions</strong></li>
    <ul>
      <li>Bad questions will result in bad answers. Good questions are those which are specific, concise, and practical.</li>
    </ul>

    <li><strong>See previous questions</strong></li>
    <ul>
      <li>Has anyone else asked the same question? If so, read the answers to those questions first before seeking further assistance.</li>
    </ul>

  </ul>

  <br>

  <%= simple_form_for :question, url: questions_path, method: :post, input_html: {class: 'form-horizontal'} do |f| %>
    <%= f.input :title, required: true %>
      <%= f.input :content, as: :summernote, input_html: {rows: 6}, required: true %>
    <%= f.input :lesson_id, as: :hidden, input_html: { value: params[:lesson_id]} %>
    <%= f.input :course_name, as: :hidden, input_html: { value: params[:course_name]} %>

    <br>
    <%= f.submit 'Submit Question', class: 'btn btn-primary' %>
  <% end %>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('[data-provider="summernote"]').summernote();
  });
</script>
