<% unless @question.mentor_post %>
  <%= back_to_lesson %>
<% end %>

<div class="devise_box forum_container">

  <%= render "shared/flash_messages" %>

  <%= react_component 'Question', { question: @question, 
                                    user: @question.user, 
                                    display_post_links: current_user == @question.user || current_user.admin } %>

  <hr>

  <%= react_component 'Replies', { replies: @question.replies.order("created_at ASC").zip(@question.replies.map{|reply| reply.user}), current_user: current_user} %>

  <%= react_component 'QuestionForm' %>

  <%= simple_form_for :reply, url: question_replies_path(@question.id), method: :post, input_html: {class: 'form-horizontal'} do |f|  %>
    <div data-no-turbolink>
      <%= f.input :content, as: :summernote, label: 'Comment', required: true %>
    </div>
    <%= f.input :user_id, as: :hidden, input_html:{ value: current_user.id } %>

    <br>
    <%= f.submit 'Submit', class: 'btn btn-primary', data: {disable_with: "Submitting reply..."} %>
  <% end %>

</div>
