<div class="devise_box forum_container">

  <%= render "shared/flash_messages" %>

  <div class="back_to_lesson">
    <%= back_to_lesson %>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <%= image_tag @user.avatar, class: 'prof_pic_forum' %>
      <div class="prof_name">
        <%= @user.name %>
      </div>
      <div class="prof_badge">
        <% if @user.mentor %>
          <label class="label label-default">TECHRISE Mentor</label>
        <% end %>
      </div>
      <div class="edit_post_links">
        <% if current_user.id == @question.user_id || current_user.admin %>
          <%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit'.html_safe, edit_question_path(@question.id), class: 'btn btn-sm btn-warning'  %>
          <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i> Delete'.html_safe, question_path(@question.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-warning' %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-10">
      <h3><%= @question.title %></h3>
      <small><%= display_date(@question.created_at) %></small>
      <br>
      <%= sanitize raw(@question.content) %>
      <p class = "pull-right" ></p>
      <br class = "clear">

      <% if current_user.admin || @question.user_id == current_user %>
        <div id="question_solved_form_container">
          <%= render partial: 'question_solved_form' %>
        </div>
      <% end %>
    </div>
  </div>

  <hr>

        
  <% @question.replies.order("created_at ASC").each do |reply| %>
    <% user = User.find(reply.user_id) %>
    <div class="row">
      <div class="col-xs-2">
        <%= image_tag user.avatar, class: 'prof_pic_forum' %>
        <div class="prof_name">
          <%= user.name %>
        </div>
        <div class="prof_badge">
          <% if user.mentor %>
            <label class="label label-default">TECHRISE Mentor</label>
          <% end %>
        </div>
        <div class="edit_post_links">
          <% if current_user.id == reply.user_id || current_user.admin %>
            <%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit'.html_safe, edit_question_reply_path(@question.id, reply.id), class: 'btn btn-sm btn-warning' %>
            <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i> Delete'.html_safe, question_reply_path(@question.id, reply.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-warning' %>
          <% end %>
        </div>
      </div>

      <div class="col-xs-10">
        <small><%= display_date(reply.created_at) %></small>
        <br>
        <%= sanitize raw(reply.content) %>
      </div>
    </div>
    <hr>
  <% end %>



  <%= simple_form_for :reply, url: question_replies_path(params[:id]), method: :post, input_html: {class: 'form-horizontal'} do |f|  %>
    <div data-no-turbolink>
      <%= f.cktext_area :content, label: 'Comment', ckeditor: {language: 'us'}, required: true, class: 'ckeditor' %>
    </div>
    <%= f.input :user_id, as: :hidden, input_html:{ value: current_user.id } %>

    <br>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>

</div>
