<h1><%= title_for(HtmlCss, 3, 2) %></h1>

<p>
  Awesome, let's get going.
</p>

<p>
  Let's make a new project folder. I'm going to create a new folder in my Documents called <code>Landing Page Mock</code> and that's where I'm going to save my file. You can call your folder whatever you like, but make sure you save everything in that folder.
</p>

<p>
  Let's then open up Sublime and open a new file (hit command + N for Mac, control + N for Windows) and save this file as <code>index.html</code>. Let's also make sure to save this file in your folder that you just created, so for me I'm making sure I save it in the folder called <code>Landing Page Mock</code>.
</p>

<p>
  Now that we've saved this file as an HTML file, we can go ahead and start writing HTML code in here. Let's start off by adding our standard HTML tags.
</p>

<pre><code class="html">
&lt;html&gt;
&lt;head&gt;

&lt;/head&gt;

&lt;body&gt;

&lt;/body&gt;


&lt;/html&gt;

</code></pre>

<p>
	Let's add an <code>h1</code> to our body and add the text <code>Hello</code> to see if this actually works. Make your <code>index.html</code> look like this:
</p> 

<pre><code class="html">
&lt;html&gt;
&lt;head&gt;

&lt;/head&gt;

&lt;body&gt;
  &lt;h1&gt;Hello&lt;/h1&gt;
&lt;/body&gt;


&lt;/html&gt;

</code></pre>

<p>
  Save the file and right click in Sublime Text. Select "Open in Browser" and check to see if the page says "Hello".
</p>

<p>
  Now we're going to get to the fun part. Let's add some bootstrap magic to our page. In order to do that, let's go to our web browser and search for "bootstrap" and go to the first search result. Then let's navigate to the "Getting Started" page, which should be on the top navigation bar on Bootstrap's website. If you can't find it, the trick is to hit Command + F if you're on a Mac or Control + F if you're on a Windows and search for "Getting Started".
</p>

<p>
  If we scroll down on this page, the first thing it says is something about a Bootstrap CDN. <strong>CDN stands for Content Delivery Network, and it basically provides developers with a bunch of files without having to download them into your computer or server.</strong> So in our case, instead of manually downloading Bootstrap's CSS and JavaScript files and adding them into our site, <strong>we can simply just copy and paste this little code that they have for us</strong>, and we'd have access to the Bootstrap CSS/JavaScript files. Pretty awesome right? Let's go ahead and add the Bootstrap CDN files into our head section of our HTML.
</p>

<pre><code class="html">
&lt;html&gt;
&lt;head&gt;
  &lt;!-- Latest compiled and minified CSS --&gt;
  &lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"&gt;
  &lt;!-- Latest compiled and minified JavaScript --&gt;
  &lt;script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"&gt;&lt;/script&gt;
&lt;/head&gt;

&lt;body&gt;
  &lt;h1&gt;Hello&lt;/h1&gt;
&lt;/body&gt;


&lt;/html&gt;

</code></pre>

<p>
	Now let's refresh the page and see what happens. Just like that, you should see the font of your "Hello" change to something much nicer. The font should have changed like this:
</p>

<div class = "row screenshot_min">

	<div class = "col-xs-6">
		<%= image_tag 'hellowithoutbootstrap.png' %>
	</div>
	<div class = "col-xs-6">
		<%= image_tag 'hellowithbootstrap.png' %>
	</div>

</div>

<p>
  Awesome! You've installed Bootstrap onto your website. Let's see what else we can do with Bootstrap in the upcoming lessons.
</p>

<br>

<br class = "clear">

<%= render 'lesson_nav_section' %>

<%= render partial: '/comments/for_lesson', locals: { name: 'HtmlCss', lesson: params[:id]} %>

