<% title("Dashboard | TECHRISE") %>

<% unless current_user.mentor || current_user.admin || @last_mentor_session.nil? || @last_mentor_session.student_session.present? %>
  <p class="alert alert-warning alert-dismissible text-center"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    You have an unlogged mentor session. Make sure you log your mentor session now so you can keep track of your progress. <br><%= link_to '<i class="fa fa-caret-right" aria-hidden="true"></i> Log Mentor Session'.html_safe, new_student_session_path(mentor_session_id: @last_mentor_session.id) %>
  </p>
<% end %>

<%= render "shared/flash_messages" %>

<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <% if !current_user.remote? && !current_user.has_started_prework? && !current_user.has_access? %>
        <div class="panel">
          <div class="panel-heading-stats">
            <h3><i class="fa fa-bar-chart" aria-hidden="true"></i> Start Your 4 Day Prework Period</h3>
          </div>
          <div class="panel-body">
            <p>
              By pressing the button below, your pre-work period of 4 days will start. If you were not able to finish all of the assignments by the end of the pre-work preiod, you will no longer be eligible for admission into TECHRISE.
            </p>

            <%= link_to 'START PREWORK', prework_kickoffs_path, method: :post, class: 'btn btn-lg btn-block btn-cta btn-cta-primary' %>

          </div><!-- panel-heading-stats -->
        </div><!-- panel -->
      <% end %>
    </div><!-- col-xs-12 col-md-4 -->
  </div><!-- row -->

  <div class="row">
    <div class="col-xs-12">
      <h2 style="font-weight: 900;">Hello <%= current_user.name %>!</h2>
    </div>
  </div> <!--hello user pannel-->

  <div class="row">

    <div class="col-xs-12 col-md-4 left-pannel">
      <div class="row">
        <div class="col-xs-12">
          <div class="progress-panel">
            <%= render partial: 'courses/progress', locals: {last_lesson: @last_lesson} %>
          </div>
        </div> <!-- end of progress pannel -->

        <div class="col-xs-12">
          <div class="activities-log">

            <div class="row">
              <div class="col-xs-12 text-center">
                <div class="title-activity-log">
                  <h4>Activity Log</h4>
                </div>
              </div>

              <div class="col-xs-12">
                <div class="body-activity-log" style="overflow:scroll; height:305px;">
                  <% @activities.each do |activity| %>
                    <%= render_activity activity %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end of activity log -->  

      </div>
    </div> <!--end of left pannel -->


    <div class="col-xs-12 col-md-8 right-pannel">
      <div class="row">
        <div class="col-xs-12">
          <div class="community-panel">
            <div class="row">
              <div class="col-xs-12 text-center">
                <div class="title-community-panel">
                  <h4>Community</h4>
                </div>
              </div>
            </div>

            <div class="community" style="overflow:scroll; height:345px;">
              <% @community_questions.each do |question| %>
                <div class="row">
                  <div class="col-xs-2 text-center">
                    <%= image_tag question.user.avatar, class: 'profile-pic-community-pannel' %>
                  </div>

                  <div class="col-xs-8 community-pannel-question-detail">
                    <div class="row">
                      <p class="col-xs-12 title-community-question">
                        <strong><%= link_to question.title, question_path(question.id) %></strong>
                      </p>
                      <p class="col-xs-12 time-community-question">
                        <%= time_ago_in_words(question.created_at) %> ago by <%= question.user.name %>
                      </p>
                      <p class="col-xs-12 tags-community-question">
                        <% if question.mentor_post %>
                          <span>MENTOR POST</span>
                        <% else %>
                          <a href="/<%= question.course_name.underscore %>s">
                            <span><%= question.course_name.split(/(?=[A-Z])/).join(" ").chomp("Lesson").upcase %></span>
                          </a>
                          <a href="/<%= question.course_name.underscore %>s/<%= question.lesson_id %>">
                            <span><%= question.course_name.constantize::LESSONS[question.lesson_id.to_i - 1].title %></span>
                          </a>
                        <% end %> 
                      </p>
                    </div> 
                  </div>

                  <div class="col-xs-2 text-center user-interaction-info">
                    <p><%= question.replies.count %></p>
                    <p>Replies</p>
                    <% if question.resolved %>
                      <p class="reply_resolved">
                        <i class="fa fa-check reply_resolved" aria-hidden="true"></i>
                      </p>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="row">
              <div class="col-xs-12 text-center">
                <h5>
                  <a href="/community">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    View all
                  </a>
                </h5>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="my-question-pannel">
            <div class="row">
              <div class="col-xs-12 text-center">
                <div class="title-question-panel">
                  <h4>My Questions</h4>
                </div>
              </div>
            </div>

            <div class="row data-question-pannel" style="overflow:scroll; height:130px;">
              <div class="col-xs-12">
                <% @questions.each do |question| %>
                  <p class="question-data">

                    <% course_name = get_lesson_title(question.course_name, question.lesson_id) %>
                    <strong style="color:#ec6952">
                      <%= link_to question.title, question_path(question) %>
                    </strong>in <%= course_name %> <%= '<i class="fa fa-check-circle" style="margin-left: 5px; color: #5cb85c;" aria-hidden="true"></i>'.html_safe if question.resolved %>
                  </p>
                <% end %>

                <% if @questions.empty? %>
                  <p class="text-center">
                    You haven't asked any questions yet.
                  </p>
                <% end %>
              </div>
            </div>

            <% unless @questions.empty? %>
              <div class="row">
                <div class="col-xs-12 text-center">
                  <h5><%= link_to '<i class="fa fa-caret-right" aria-hidden="true"></i> View all'.html_safe, questions_path %></h5>
                </div>
              </div>
            <% end %>
          </div>
        </div> <!-- myquestions pannel -->

        <div class="col-xs-12 col-md-6">
          <div class="my-submissions-pannel">
            
            <div class="row">
              <div class="col-xs-12 text-center">
                <div class="title-submissions-panel">
                  <h4>My Submissions</h4>
                </div>
              </div>
            </div>

            <div class="row data-submissions-pannel" style="overflow:scroll; height:130px;">
              <div class="col-xs-12">
                <% @submissions.each do |submission| %>
                  <p class="submissions-data">
                    <% course_name = get_lesson_title(submission.course_name, submission.lesson_id) %>
                    <strong style="color:#ec6952">
                      <%= link_to submission.title, submission_path(submission) %>
                    </strong>in <%= course_name %> <%= '<i class="fa fa-check-circle" style="margin-left: 5px; color: #5cb85c;" aria-hidden="true"></i>'.html_safe if submission.approved %>  
                  </p>
                <% end %>

                <% if @submissions.empty? %>
                  <p class="text-center">You don't have any submissions yet.</p>
                <% end %>
              </div>
            </div>

            <% unless @submissions.empty? %>
              <div class="row">
                <div class="col-xs-12 text-center">
                  <h5><%= link_to '<i class="fa fa-caret-right" aria-hidden="true"></i> View all'.html_safe, submissions_path %></h5>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div> <!-- end of left pannel -->

  </div> <!-- end of row -->

</div> <!-- end of container -->


<% if current_user.admin %>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="panel">
            <div class="panel-heading text-center">
              <h3>Pre-work Students' <%= @unresolved_questions.count %> Unanswered Questions</h3>
            </div>
            <div class="panel-body">
              <ul class="unindented_ul">
                <% @unresolved_questions.each do |question| %>

                  <% if !question.user_admitted %>
                    <li><%= link_to question.title, question_path(question.id) %> by <%= question.user_name %></li>
                  <% end %>

                <% end %>
              </ul>
            </div>
          </div><!-- panel-body text-center -->
        </div><!-- panel -->

        <div class="col-xs-12 col-md-6">
          <div class="panel">
            <div class="panel-heading text-center">
              <h3>Admitted Students' <%= @unresolved_questions.count %> Unanswered Questions</h3>
            </div>
            <div class="panel-body">
              <ul class="unindented_ul">
                <% @unresolved_questions.each do |question| %>
                  <% if question.user_admitted %>
                    <li><%= link_to question.title, question_path(question.id) %> by <%= question.user_name %></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div><!-- panel-body text-center -->
        </div><!-- panel -->


      </div>


      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="panel">
            <div class="panel-heading text-center">
              <h3>Non Admitted students' <%= pluralize @unapproved_submissions.count, "Submission" %> to Review</h3>
            </div>
            <div class="panel-body">
              <ul class="unindented_ul">

                <% @unapproved_submissions.each do |submission| %>
                  <% if !submission.user_admitted %>
                    <li><%= link_to submission.title, submission_path(submission.id) %> by <%= submission.user_name %></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div><!-- panel-body text-center -->
        </div><!-- panel -->

        <div class="col-xs-12 col-md-6">
          <div class="panel">
            <div class="panel-heading text-center">
              <h3>Admitted Students' <%= pluralize @unapproved_submissions.count, "Submission" %> to Review</h3>
            </div>
            <div class="panel-body">
              <ul class="unindented_ul">

                <% @unapproved_submissions.each do |submission| %>
                  <% if submission.user_admitted %>
                  <li><%= link_to submission.title, submission_path(submission.id) %> by <%= submission.user_name %></li>
                  <% end %>

                <% end %>
              </ul>
            </div>
          </div><!-- panel-body text-center -->
        </div><!-- panel -->
      </div>

<% end %>
