<section class="section testimonials">
  <div class="container">
      <h2 class="title text-center">What are our students saying about TECHRISE?</h2>

      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="testimonial-card">
            <figure class="profile"><%= image_tag 'landing_page/rabin.jpg' %></figure>
            <div class="content">
                <p><strong>Rabin Gaire</strong>, <span class="college">Student at ACHS College</span></p>

                <div class="testimonial-card-break"></div>

                <p>
                  "After I joined TECHRISE <strong>I am learning about new things everyday.</strong> It's a new experience integrating new technologies. I am really happy that I am with safe hands. <strong>Thank you TECHRISE for fulfilling my dream to be a good programmer.</strong>"
                </p>

                <!-- <p class="source"><span class="title">Rabin Gaire</span><br>Hired as Intern at TECHRISE after graduation</p> -->
            </div><!--//content-->  
          </div><!-- testimonial-card -->
        </div><!-- col-xs-12 col-sm-6 col-md-4 -->

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="testimonial-card">
            <figure class="profile"><%= image_tag 'landing_page/swojeet.jpg' %></figure>
            <div class="content">
                <p><strong>Swojeet Kayastha</strong>, <span class="college">Student at British College</span></p>
                <div class="testimonial-card-break"></div>

                <p>
                  "<strong>After I joined TECHRISE, everything took a turn.</strong> <strong>Mentors are now here to help me clear any obstacles I encounter.</strong> The TECHRISE curriculum also includes <strong>building real world apps like Instagram</strong> which fired up my eagerness to learn more."
                </p>

                <p class="read-more"><a href="https://swojeet.github.io/swojeetkayastha_blog/2016/08/31/welcome-to-jekyll.html" target="_blank">Read about Swojeet's first month at TECHRISE</a></p>       
            </div><!--//content--> 
          </div><!-- testimonial-card -->
        </div><!-- col-xs-12 col-sm-6 col-md-4 -->

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="testimonial-card">
            <figure class="profile"><%= image_tag 'landing_page/shreejana.jpg' %></figure>
            <div class="content">
                <p><strong>Shreejana Poudel</strong>, <span class="college">Student at ASCOL</span></p>

                <div class="testimonial-card-break"></div>

                <p>
                  "<strong>TECHRISE has provided me with best of opportunities to enhance my potentials and build up my self-esteem.</strong> It is the perfect platform for anyone who wants to be different from the crowd. Whenever I get stuck, my mentor is always there to help me."
                </p>
                
            </div><!--//content--> 
          </div><!-- testimonial-card -->
        </div><!-- col-xs-12 col-sm-6 col-md-4 -->   
      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="testimonial-card">
            <figure class="profile"><%= image_tag 'landing_page/Aashik.jpg' %></figure>
            <div class="content">
                <p><strong>Aashik Yadav</strong>, <span class="college">Student at Swastik College</span></p>

                <div class="testimonial-card-break"></div>

                <p>
                  "<strong>The way TECHRISE teaches is different</strong>, it's self-learning and much more goal oriented. I found my passionate family here. When I get stuck, <strong>my mentors are always there to help me</strong>. I really feel great to be here at TECHRISE, it changed my life."
                </p>
                
            </div><!--//content--> 
          </div><!-- testimonial-card -->
        </div><!-- col-xs-12 col-sm-6 col-md-4 -->



        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="testimonial-card">
            <figure class="profile"><%= image_tag 'landing_page/rina.jpg' %></figure>
            <div class="content">
                <p><strong>Rina Baral</strong>, <span class="college">Student at Swastik College</span></p>

                <div class="testimonial-card-break"></div>

                <p>
                  "No one will regret by joining TECHRISE. It feels confusing and frustrating when stuck that I want to stop coding - <strong>but no need to worry, we have mentors that guide us and helps us solve our problem</strong>. We receive almost instant replies to all of our questions whenever needed.""
                </p>

                <p class="read-more"><a href="http://www.rinabaral.com.np/2016/08/23/first-month-at-techrise-ruby-on-rails-bootcamp/" target="_blank">Read about Rina's first month at TECHRISE</a></p>
                
            </div><!--//content-->       
          </div><!-- testimonial-card -->
        </div><!-- col-xs-12 col-sm-6 col-md-4 -->

                 

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="testimonial-card">
            <figure class="profile"><%= image_tag 'landing_page/aadesh.jpg' %></figure>
            <div class="content">
                <p><strong>Aadesh Shrestha</strong><br><span class="college">Now Software Engineer at TECHRISE</span></p>

                <div class="testimonial-card-break"></div>

                <p>
                  "<strong>TECHRISE has been by far the best learning experience for me.</strong> My mentor, Takehiro is very passionate when it comes to teaching, always willing to explain the concepts behind what we were doing. <strong>These 3 months have been challenging but worth it.</strong>"
                </p>                
                
            </div><!--//content-->                   
          </div><!-- testimonial-card -->
        </div><!-- col-xs-12 col-sm-6 col-md-4 -->

        


      </div><!-- row -->          
  </div><!--//container-->
</section><!--//testimonials--> 