<% if @last_lesson %>

  <% lesson_name = Tags::LESSONS[@last_lesson.parameters[:course_name].underscore + "s"].keys[@last_lesson.parameters[:lesson_id].to_i - 1][1] %>

  <div class="row">
		  <div class="col-xs-12">
		  <div class="panel">
		    <div class="panel-body text-center">
		      <div class="row">
		        <div class="col-xs-12">
		          <h5>Day <%= (DateTime.now.to_date - current_user.created_at.to_date).to_i %></h5>
		          <h3 style="margin-bottom: 40px; text-decoration: underline;">Current Course in Progress</h3>

		          <div class="row">
		            <div class="col-sm-4 col-xs-12">
		              <div class="lesson_well">
		                <small>Lesson <%= @last_lesson.parameters[:lesson_id] %></small>
		                <h4 style="margin-top: 0px;"><%= @last_lesson.parameters[:course_name].split(/(?=[A-Z])/).join(" ").chomp("Lesson") %></h4>
		              </div>
		            </div>

		            <div class="col-sm-8 col-xs-12">
		                <h3 style="text-align: left;"><i class="fa fa-code" style="color: #f29a8b;" aria-hidden="true"></i> <%= lesson_name %></h3>
		            </div>
		          </div><!-- row -->


		          <div class="row">
		            <div class="col-xs-12">
		              <div class="progress_bar" style="border-top: none;">
		                <div class="progress">
		                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= progress(@last_lesson.parameters[:course_name]) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress(@last_lesson.parameters[:course_name]) %>%; min-width: 4em;">
		                    <%= progress(@last_lesson.parameters[:course_name]) %>% completed
		                  </div>
		                </div>
		              </div><!-- progress_bar -->
		            </div><!-- col-xs-12 -->
		          </div><!-- row -->


		          <div class="row" style="margin-top:20px;">
		            <div class="col-xs-12">
		              <h3><%= link_to 'Continue Lesson <i class="fa fa-caret-right" style="margin-left: 5px;" aria-hidden="true"></i>'.html_safe, '/' + @last_lesson.parameters[:course_name].underscore + "s/" + @last_lesson.parameters[:lesson_id], class: 'btn btn-danger' %></h3>
		            </div>
		          </div><!-- row -->
		        </div><!-- col-xs-12 col-md-6 col-md-offset-3 -->
		      </div><!-- row -->

		    </div><!-- panel-body -->
		  </div><!-- panel -->
		</div><!-- col-xs-12 -->
	</div><!-- row -->
<% end %>

<h2 class="curriculum_title">Main Curriculum</h2>

<div class = "row">

	<%= render partial: 'course', locals: {course: 'Intro', course_name: "An introduction to web development and why it's so cool.", available: true, course_link: intro_path, course_access: 'intro', controller_name: 'IntroLesson'} %>

	<%= render partial: 'course', locals: {course: 'HTML/CSS', course_name: "HTML and CSS are the tools developers use to structure web pages. Learning the basics of HTML and CSS to start building your own web pages.", available: true, course_link: html_css_path, course_access: 'html_css', controller_name: 'HtmlCssLesson'} %>
	
	<%= render partial: 'course', locals: {course: 'Ruby Fundamentals', course_name: 'Ruby is a beautiful programming language that makes programming so much easier for beginners. Master the fundamentals of programming while learning Ruby.', available: true, course_link: ruby_path, course_access: 'ruby_fundamentals', controller_name: 'RubyLesson'} %>

</div>

<div class = "row">

	<%= render partial: 'course', locals: {course: 'Master the Command Line', course_name: '', available: true, course_link: command_line_path, course_access: 'command_line', controller_name: 'CommandLineLesson'} %>

	<%= render partial: 'course', locals: {course: 'Ideator - An idea sharing app', course_name: 'Create your first Ruby on Rails application. You\'ll be building an idea sharing/discovery app where anyone can post their ideas and share them with the world.', available: true, course_link: ideator_path, course_access: 'ideator', controller_name: 'IdeatorLesson'} %>

	<%= render partial: 'course', locals: {course: 'MVC and REST', course_name: '', available: false, course_link: mvc_path, course_access: 'mvc', controller_name: 'MvcLesson'} %>


</div>

<div class = "row">

	<%= render partial: 'course', locals: {course: 'Ruby Core Training', course_name: 'Strengthen your Ruby skills by going through various coding challenges. Sharpen your thinking skills and become a more proficient web developer.', available: true, course_link: ruby_core_path, course_access: 'ruby_core', controller_name: 'RubyCoreLesson'} %>

	<%= render partial: 'course', locals: {course: 'Instapost - Share your photos', course_name: 'Create a clone of the popular Instagram application. You are going to be creating a more complex app than before! Get excited!', available: true, course_link: instapost_path, course_access: 'instapost', controller_name: 'InstapostLesson' } %>

	<%= render partial: 'course', locals: {course: 'RSpec and Testing', course_name: 'If you want to become a valuable software developer, you need to learn how to test your applications.', available: true, course_link: rspec_blog_path, course_access: 'rspec_blog', controller_name: 'RspecBlogLesson' } %>


</div>

<div class = "row">
	<%= render partial: 'course', locals: {course: 'JavaScript/jQuery', course_name: 'Manipulate the DOM by using JavaScript. Learn the basics of JavaScript and jQuery.', available: true, course_link: javascript_path, course_access: 'javascript', controller_name: 'JavascriptLesson'} %>
	
	<%= render partial: 'course', locals: {course: 'Git/GitHub', course_name: 'Git and GitHub is used by the majority of web developers. Learn what it is and how you can utilize it to collaborate and implement version control.', available: true, course_link: github_path, course_access: 'github', controller_name: 'GithubLesson'} %>

	<%= render partial: 'course', locals: {course: 'Algorithms', course_name: 'Learning how to solve algorithms challenges will help you think logically and solve difficult problems in programming.', available: false, controller_name: 'AlgorithmLesson', course_link: 'algorithm_path', course_access: 'algorithm' } %>
</div>