<!-- Header -->
<header>
    <div class="container">
        <div class="row">

          <div class="col-xs-12 col-md-6 scroll">
            <h1 style="color:yellow;font-weight:600;">Have no prior coding experience?</h1>
            <h4 style="letter-spacing:3px;">
               With a personal mentor, you can still learn how to build web applications in just 3 months.
            </h4>
            <p>
              The demand for web developers is increasing <strong>everywhere around the world</strong> and is predicted to keep on growing. In todays world, if you can code, there are <strong>unlimited opportunities</strong> out there for you.
            </p>
            <p>
              Imagine what you could do if you could build web applications. You could <strong>start a new career</strong>. You could <strong>help out your company</strong>. You could help <strong>build your friend's dream product</strong>. You could <strong>build your <i>own</i> dream product</strong>. You could <strong>help out the community</strong>. <strong><i>The potential is endless</i></strong>.
            </p>
            <h4 style="letter-spacing:3px;">So...if you're ready to start coding, then join Techrise now by filling out the form on the right.</h4>
          </div>

          <div class="col-xs-12 col-md-6 scroll">
            <h3 style="letter-spacing:3px;">Join now to get instant access to our course materials</h3>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>

                  <div class="field">
                    <%= f.label :name %><br />
                    <%= f.text_field :name, autofocus: true, required: true, class: 'form-control' %>
                  </div>

                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, required: true, class: 'form-control' %>
                  </div>

                  <div class="field">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "off", required: true, class: 'form-control' %>
                  </div>

                  <div class="field">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
                  </div>
                  
                  <br>
                  <div class="actions">
                    <%= f.submit "Sign up", class: 'btn btn-danger btn-lg btn-block' %>
                  </div>
            <% end %>

          </div>

            <!-- <div class="col-lg-12">
                             
                <div class="intro-text">
                  
                    <% if notice.present? %>
                      <p class="alert alert-info"><%= notice %></p>
                    <% end %>
                    <% if alert.present? %>
                      <p class="alert alert-danger"><%= alert %></p>
                    <% end %>

                    <span class="name scroll">Learn How To Code</span>
                    <hr class="star-light">
                    <span class="skills scroll">HTML/CSS - Ruby on Rails - JavaScript/jQuery - Git/Github</span>
                    
                    <div class = "scroll join-buttons">
                      <%= link_to 'START CODING NOW', new_user_registration_path, class: "btn btn-danger btn-lg" %>
                      <%= link_to 'LOG IN', new_user_session_path, class: "btn btn-primary btn-lg" %>
                    </div>
                </div>
                
            </div> -->

        </div>
    </div>
</header>

<!-- Skills Grid Section -->
<section id="skills">
  <a class = "anchor" id = "skills_you_will_learn"></a>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center scroll">
                <h2>Skills You Will Learn</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
          <% skills.each do |skill| %>
            <div class="col-sm-4 portfolio-item text-center">
                <%= image_tag skill[2], class: 'skill_logo' %>
                <h3><%= skill[0] %></h3>
                <p><%= skill[1] %></p>
            </div>
          <% end %>
        </div>
    </div>
</section>

<!-- For Who Section -->
<section class = "success" id="for_who">
  <a class = "anchor" id = "is_techrise_for_me"></a>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Is Techrise For Me?</h2>
                <hr class="star-light">
            </div>
        </div>

        <div class="row scroll">

          <div class = "col-sm-12 col-md-6">
            <h3 class = "for_who_header text-center">Aspiring Entrepreneurs</h3>

            <p>
              You have an awesome idea that you think could change the way people do things. You want to build a prototype or MVP that you can show to your potential investors and customers to get quick feedback. But you lack the money, don't want to spend the money, or don't know any developers.
            </p>
            <p>
              Why not just learn just enough coding so you can start building your web applications? Techrise is perfect for those who want to start building your prototypes for your ideas. By building real world apps from day 1, you'll learn how to quickly build out your apps to ship fast.
            </p>

          </div>

          <div class = "col-sm-12 col-md-6">
            <h3 class = "for_who_header text-center">Aspiring Developers</h3>

            <p>
              You might have tried coding before but it was too difficult and you quit. Or coding might be completely new to you. Either way, you think becoming a web developer is an awesome feat and you want to get started on a new journey.
            </p>
            <p>
              Techrise teaches you how to start writing code like professional developers do in the real world. By learning how to use GitHub, Team Communication tools, and also how to solve difficult coding challenges, you will be prepared to start contributing in actual web development teams.
            </p>

          </div>

          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 style = "font-weight: 600;margin:60px 0px 30px 0px;">DOES THIS SOUND LIKE YOU?</h2>
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <%= link_to "YES, GET ME ONBOARD", new_user_registration_path, class: "btn btn-danger btn-lg", style: "color:white;" %>
              </div>
            </div>
          </div>
        
        </div>
    </div>
</section>


<!-- Why Techrise Section -->
<section id="why_techrise">
  <a class = "anchor" id = "why_us"></a>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Why Techrise?</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
          <div class = "col-sm-12 col-md-4 text-center">
            <div class = "why_techrise_icons"><i class="fa fa-graduation-cap"></i></div>
            <h3>1-on-1 Mentor Sessions</h3>
            <p>
              Ask questions individually to your mentor and get the support you need. By having a mentor, you can learn quicker and more effectively.
            </p>
          </div>

          <div class = "col-sm-12 col-md-4 text-center">
            <div class = "why_techrise_icons"><i class="fa fa-globe"></i></div>
            <h3>Build Real World Applications</h3>
            <p>
              Instead of going just learning syntax and theory, we believe you can learn faster by actually building websites and web applications from day 1.
            </p>
          </div>
          <div class = "col-sm-12 col-md-4 text-center">
            <div class = "why_techrise_icons"><i class="fa fa-users"></i></div>
            <h3>Learn from People Like You</h3>
            <p>
              Our mentors were people just like you - beginners with no experience in coding - just until recently. That's why they know exactly how to go from having no experience in coding to becoming a great developer.
            </p>
          </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
  <a class = "anchor" id = "about_us"></a>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row about_text scroll">
            <div class="col-lg-4 col-lg-offset-2">
              <h3 style = "color:yellow;">Have no prior coding experience? You can still learn how to build web applications with Ruby on Rails in just 3 months</h3>
              <p>
                Learning to code isn’t hard - if you have the right support. 
              </p>
              <p>
                Many resources are great at teaching coding, but some are aimed at being general, teaching you basic syntax and how the language works. Which is awesome, but it doesn’t teach you how to actually start building web apps.
              </p>
              <p>
                There are also resources that go super into detail and feed you a lot of information. These are awesome, but it probably isn't ideal for complete beginners.
              </p>
              
            </div>
            <div class="col-lg-4">
              <p style="margin-top: 21px;">
                At Techrise, our goal is to give you fun and interactive lessons where you’ll learn how to build real world web applications with a devoted mentor so that you'll be able to start learning more advanced things on your own.
              </p>
              <p>
                Imagine building your ideas, building your friend’s business idea, or just building a cool app to solve one of your daily problems. All that is possible by learning how to code.
              </p>
              <p>
                The path to learning code can be rough. You’ll most likely be lost or quit unless you have a path that you can follow, and have a supportive community or mentors to guide you through the process.
              </p>
              <p>
                By learning to code with us, we provide that support so that you can start building your ideas.
              </p>
            </div>

            <div class="col-lg-8 col-lg-offset-2 text-center" style = "padding:30px;">
                <h3 style = "font-weight: 600;">Click the button below to</h3>
                <h3 style = "font-weight: 600;margin:-5px 0px 30px 0px;">start your coding journey.</h3>
                <%= link_to 'START CODING NOW', new_user_registration_path, class: "btn btn-danger btn-lg", style: "color:white;" %>
            </div>
        </div>
    </div>
</section>

<section class="success" style="padding-top: 50px;">
  <a class = "anchor" id = "team"></a>
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
              <h2>Team</h2>
              <hr class="star-light">
          </div>
        </div>

        <div class="row">

          <div class="col-xs-12 col-md-6 scroll">

            <%= image_tag 'natsuko.jpg', class: 'prof_pic', alt: 'Techrise Nepal Natsuko Robyn Shinozaki' %>
            <br>
            <h5 style="color:yellow;">Natsuko Robyn Shinozaki | Co-founder</h5>

            <p style="font-size:16px;">
              I'm passionate about serving the community and turning creative ideas into reality. I've worked with various non-profits in operations and communication. I want to help create environments where people can reach their full potential. Ice-cream and momo enthusiast :)
            </p>

            <a href="https://www.linkedin.com/in/robyn-natsuko-shinozaki-12883487" target="_blank" class="pull-right"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
          </div>

          <div class="col-xs-12 col-md-6 scroll">

            <%= image_tag 'take.jpg', class: 'prof_pic', alt: 'Techrise Nepal Takehiro Mouri' %>
            <br>
            <h5 style="color:yellow;">Takehiro Mouri | Co-founder / Mentor</h5>

            <p style="font-size:16px;">
              Coding is awesome and my mission is to teach people how awesome it is. I work with a couple of start ups and help develop ideas into reality through web applications. I also won a few awards at a hackathon which was pretty fun. Other than coding, in my free time, I enjoy coding. :) I love momo.
            </p>

            <a href="https://www.linkedin.com/in/takehiro-mouri-a3083487" target="_blank" class="pull-right"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
          </div>

        </div>


    </div>
</section>

<!-- Contact Section -->
<section id="contact">
  <a class = "anchor" id="contact_us"></a>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact Us</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 scroll">
                <%= simple_form_for Contact.new(params[:contact]), html: {id: "contactForm"}, remote: true do |f| %>
                  <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                      <%= f.input :name, required: true, placeholder: 'Name', class: 'form-control' %>
                    </div>
                  </div>

                  <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                      <%= f.input :email, required: true, placeholder: 'Email', class: 'form-control' %>
                    </div>
                  </div>

                  <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                      <%= f.input :message, as: :text, required: false, input_html: {rows: 6}, placeholder: 'Message', class: 'form-control' %>
                    </div>
                  </div>
                  <%= f.button :submit, 'Send Message', class: 'btn btn-success btn-lg', id: 'ContactSubmit', data: { disable_with: "Sending..." } %>
                <% end %>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
$('form').on('ajax:success', function(event, data, status, xhr) {
  $('#contact_message').val('Thanks for your message!')
});

$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});

</script>