<div class="bg-slider-wrapper">
    <div class="flexslider bg-slider">
        <ul class="slides">
            <li class="slide slide-1"></li>
            <li class="slide slide-2"></li>
            <li class="slide slide-3"></li>
        </ul>
    </div>
</div><!--//bg-slider-wrapper-->     

<section class="promo section section-on-bg">

    <div class="container text-center">       
        <%= render "shared/flash_messages" %>

        <h1 class="title">Become a Web Developer in 2 Months<br>Experience The New Way of Learning</h2>
        <p class="intro">
          An innovative Learning Platform combining 1-on-1 mentor training, project-based learning, and a friendly student community that will accelerate your path to becoming a web developer.
        </p>
        <p><a class="btn btn-cta btn-cta-primary" href="/users/sign_up">SIGN UP FOR PRE-WORK</a></p>
    </div><!--//container-->
</section><!--//promo-->

<div class="sections-wrapper">   

  <section id="how">
    <div class="container">
      <div class="header_container">
        <h2 class="text-center">Your Learning Experience at TECHRISE</h2>
        <p class="intro text-center">
          We make sure that our methodology is effective and motivates students.
        </p>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-5">
          <h2 class="title">Learn By Building</h2>
          <p>
            At TECHRISE, you'll build several projects and learn by building. We believe that in order to improve your technical skills, actually building real-world apps are the most effective way.
          </p>
        </div><!-- col-xs-12 col-md-6 -->
        <div class="col-xs-12 col-md-6 col-md-offset-1">
          <%= image_tag 'landing_page/imac_lesson.png', class: 'img-responsive', style: 'float: right;' %>
        </div>

      </div><!-- row -->

      <div class="row" style="margin-top: 80px;">

        <div class="col-xs-12 col-md-5 col-md-offset-1 col-md-push-6">
          <h2 class="title">Learn With Peers</h2>
          <p>
            By asking questions, sharing comments, and learning from each other, you can accelerate your learning. Your path towards becoming a developer is shortened by having an environment where you can learn from your peers.
          </p>
        </div><!-- col-xs-12 col-md-6 -->

        <div class="col-xs-12 col-md-6 col-md-pull-6">
          <%= image_tag 'landing_page/slack_screenshot.png', class: 'img-responsive shadow_screenshot' %>
        </div>
 
      </div><!-- row -->

      <div class="row" style="margin-top: 80px;">
        <div class="col-xs-12 col-md-5">
          <h2 class="title">Learn With a Mentor</h2>
          <p>
            Speed up your learning with the help of a mentor. Ask questions individually to your mentor and get the support you need. Mentor sessions are held weekly and students ask questions and tackle problems with their mentor.
          </p>
        </div><!-- col-xs-12 col-md-6 -->

        <div class="col-xs-12 col-md-5 col-md-offset-1">
          <%= image_tag 'background/mentor_image.jpg', class: 'img-responsive shadow_screenshot', style: 'float: right;' %>
        </div>

      </div><!-- row -->

    </div><!-- container -->
  </section>

  <!-- Skills Grid Section -->
  <section id="skills" class = "section">
    <a class = "anchor" id = "skills_you_will_learn"></a>
      <div class="container">
          <hr>
          <div class="row" style="margin-bottom: 20px;padding-top: 80px;">
              <div class="col-lg-12 text-center scroll">
                  <h2 class = "title">Learn Practical, In-demand Skills</h2>
                  <p>
                    At TECHRISE, you will learn a set of marketable skills that will enable you to write robust web applications. We have designed the curriculum so that you will gain the experience of not only writing good code, but writing good code together with other people.
                  </p>
              </div>
          </div>
          <div class="row">
            <% skills.each_with_index do |skill, i| %>
              <% if i == 0 %>
                <div class="col-sm-offset-1 col-sm-2 col-xs-6 portfolio-item text-center">
              <% else %>
                <div class="col-sm-2 col-xs-6 portfolio-item text-center">
              <% end %>
                  <%= image_tag skill[2], class: 'skill_logo' %>
                  <h5><%= skill[0] %></h5>
                  <!-- <p><%= skill[1] %></p> -->
              </div>
            <% end %>
          </div>

          <div class="col-xs-12" style="margin-bottom: 35px; margin-top: 55px;">
            <h3 class="text-center">During the program, you will:</h3>
          </div>

          <div class="col-xs-12 col-md-6">
            <ul class="skills_ul">
              <li>Develop fully featured web applications</li>
              <li>Learn how to use Github to collaborate with other developers</li>
              <!-- <li>Write complex algorithms and data structures</li> -->
            </ul>
          </div>

          <div class="col-xs-12 col-md-6">
            <ul class="skills_ul">
              <!-- <li>Build an advanced web application as part of an agile team</li> -->
              <li>Learn and apply Object Oriented Programming, MVC, and test driven development</li>
              <li>Meet Like-minded Individuals who are passionate about coding</li>
            </ul>
          </div>

      </div>
  </section>

  <section class="section details">
    <div class="container text-center">

      <hr>

      <h3 class="title" style="padding-top: 80px;">Details</h3>

      <div class="box">
        <%= render 'details' %>
      </div>

      <div class="col-xs-12 text-center" style="margin-top:30px;">
        <h3>Support System</h3>    
      </div>

      <ul class="skills_ul support_ul">
        <div class="col-xs-12 col-md-6">     
          <li>Weekly Mentor Sessions</li>
          <p>
            Receive code reviews or go through coding problems with your mentor. Having a mentor is proven to accelerate your learning speeds.
          </p>
          <li>Daily Office Hours</li>
          <p>
            Come into the office to chat about any problems you are stuck on or any concerns that you might have.
          </p>
        </div>

        <div class="col-xs-12 col-md-6">
          <li>Option to get hired as a TECHRISE Mentor</li>
          <p>
            Upon graduation, we invite exceptional students to work with us as a mentor at TECHRISE.
          </p>
          <li>Opportunity to get matched with foreign startups</li>
          <p>
            Upon graduation, we may have opportunities for exceptional students to be matched with foreign startups in need of good developers.
          </p>
        </div>
      </ul>

    </div>
  </section>

  <!-- ******Testimonials Section****** -->
  <section class="section testimonials">
      <div class="container">
          <h2 class="title text-center">What are people saying about TECHRISE?</h2>
          <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#testimonials-carousel" data-slide-to="1"></li>
                  <li data-target="#testimonials-carousel" data-slide-to="2"></li>
              </ol><!--//carousel-indicators-->
              <div class="carousel-inner">

                  <div class="item active">
                      <figure class="profile"><%= image_tag 'landing_page/aadesh.jpg' %></figure>
                      <div class="content">
                          <blockquote>
                          <i class="fa fa-quote-left"></i>
                          <p>
                            <strong>TECHRISE has been by far the best learning experience for me.</strong> My mentor, Takehiro, was very helpful during the course. He is very passionate when it comes to teaching, always willing to explain the concepts behind what we were doing. Having that understanding makes it possible to apply that knowledge in different places. <strong>These 3 months have been challenging but worth it.</strong>
                          </p>
                          </blockquote>
                          <p class="source">Aadesh Shrestha<br /><span class="title">Hired as Software Engineer at äLuxuRē after graduation</span></p>
                      </div><!--//content-->                         
                  </div><!--//item-->  

                  <div class="item">
                      <figure class="profile"><%= image_tag 'landing_page/lakshman.jpg' %></figure>
                      <div class="content">
                          <blockquote>
                          <i class="fa fa-quote-left"></i>
                          <p>
                            <strong>I was lost and was trying many courses on the internet.</strong> After joining TECHRISE, I got courses of my preference and suitable to the current market. <strong>Weekly mentor sessions, well presented, tested and clearly explained lessons and assignments' reviews were the best part learning here.</strong> Asking a lot of questions to my mentor, and discussing with other members in Slack enhanced fast understanding. Thank you TECHRISE for helping me build skills to make great apps.
                          </p>
                          </blockquote>
                          <p class="source">Lakshman Basnet<br /><span class="title">Computer & Information Sciences Student at Tribhuvan University</span></p>
                      </div><!--//content-->                         
                  </div><!--//item-->     

                  <div class="item">
                      <figure class="profile"><%= image_tag 'landing_page/sandeep.jpg' %></figure>
                      <div class="content">
                          <blockquote>
                          <i class="fa fa-quote-left"></i>
                          <p>
                            I was not so good at coding and was unknown what to do so I can move with the flow of current world but after joining TECHRISE, I am good at coding and able to choose the right field to set my career. Thank you TECHRISE for providing guidance to build up my skill and confidence through lessons, weekly mentor section and assignments.
                          </p>
                          </blockquote>
                          <p class="source">Sandeep Poudel<br /><span class="title">BSc. at CSIT</span></p>
                      </div><!--//content-->                         
                  </div><!--//item-->                       
                  
              </div><!--//carousel-inner-->
              
          </div><!--//carousel-->
      </div><!--//container-->
  </section><!--//testimonials--> 

  <section class="section testimonials-section">
    <div class="container text-center">
        <div class="item">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <%= image_tag 'landing_page/ganesh.jpg', class: 'prof_pic' %>
            </div>
            <div class="col-xs-12 col-md-8">
                <blockquote>
                <i class="fa fa-quote-left" style="float: left; margin-right: 5px;"></i>
                <p style="text-align: justify;">
                  Its my great pleasure to know that TECHRISE is launching a special skill development IT program specially for Nepali youth. <strong>It will definitely help to develop skilled manpower and provide a great employment opportunity abroad.</strong> Since the education system of Nepal is being a theoretical base, even after graduation in concern faculty, could not fit for the international labour markets. As per present scenario, <strong>more than 6,000,000 Nepalese unskilled workers are working abroad as a labourer</strong>. If we could able to train them as skilled manpower, <strong>it will definitely help Nepal's national economy</strong>. I, therefore wish all the success of TECHRISE and would like to extend my sincere thanks to co-founders of TECHRISE.
                </p>

                </blockquote>
                <p class="source" style="color:#333;">Ganesh Man Lama<br /><small>President, Air Asia X Nepal | Managing Director, Incentive Group of Companies</small></p>
            </div><!--col-xs-12 col-md-8--> 
          </div>                        
        </div><!--//item-->

        <div class="item" style="margin-top:40px;">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <%= image_tag 'landing_page/lizanderson.jpg', class: 'prof_pic' %>
            </div>
            <div class="col-xs-12 col-md-8">
                <blockquote>
                <i class="fa fa-quote-left" style="float: left; margin-right: 5px;"></i>
                <p style="text-align: justify;">
                  TECHRISE is more than a coding camp - it's <strong>a vehicle</strong> for empowering the youth of Nepal with the knowledge and tools they need to <strong>unlock their true economic and personal potential.</strong> Because the TECHRISE model provides former students to also become teachers, the organization is creating a <strong>network effect for sustainable and long-term transformative change</strong>. One student at a time, <strong>TECHRISE is not only changing lives at an individual level, but is also building a highly skilled workforce that has the potential to grow Nepal's economic stability as a whole.</strong>
                </p>

                </blockquote>
                <p class="source" style="color:#333;"> Liz Anderson<br /><small>Director of Engagement, Beeck Center for Social Impact + Innovation at Georgetown University</small></p>
            </div><!--col-xs-12 col-md-8-->                         
          </div>
        </div><!--//item-->
    </div>
  </section>


  <section class="section press">
    <div class="container text-center">
        <hr>
        <h2 class="title">Partnerships</h2>
        <%= image_tag 'http://static1.squarespace.com/static/5390cc63e4b02566a5bb8bf0/t/539718f5e4b076c79e506193/1464376473863/?format=1500w', class: 'partnership_logo' %>
        <%= image_tag 'https://www.aluxurelife.com/assets/logo-285af2f803977bcecf652fef1f6cb49aaf5cadee7c263ebe3108c41bf3805344.png', class: 'partnership_logo' %>
    </div>
  </section>

  <!-- ******CTA Section****** -->
  <section id="cta-section" class="section cta-section text-center home-cta-section">
      <div class="container">
        <%= render partial: 'cta_content' %>
      </div><!--//container-->
  </section><!--//cta-section-->

</div><!-- Sections div -->

<script type="text/javascript">
$('form').on('ajax:success', function(event, data, status, xhr) {
  $('#contact_message').val('Thanks for your message!')
});

$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});

</script>