<div class="bg-slider-wrapper">
    <div class="flexslider bg-slider">
        <ul class="slides">
            <li class="slide slide-1"></li>
            <li class="slide slide-2"></li>
            <li class="slide slide-3"></li>
        </ul>
    </div>
</div><!--//bg-slider-wrapper-->     

<section class="promo section section-on-bg">
    <div class="container">                
      <div class="row">

        <div class="col-xs-12 col-md-7 scroll">
          <h1 style="font-size: 36px; font-weight: 100; letter-spacing: 2px;">Have no prior coding experience?</h1>
          <h3 style="font-weight: 300;letter-spacing: 2px;">
             With a personal mentor, you can still learn how to build web applications in just 3 months.
          </h3>
          <p>
            The demand for web developers is increasing everywhere around the world and is predicted to keep on growing. In todays world, if you can code, there are unlimited opportunities out there for you.
          </p>
          <p>
            Imagine what you could do if you could build web applications. You could start a new career. You could help out your company. You could help build your friend's dream product. You could build your <i>own</i> dream product. You could help out the community. <i>The potential is endless</i>.
          </p>
          <h3 style="font-weight: 300;letter-spacing: 2px;">If you're ready to start unleashing your inner potential, join Techrise now by signing up.</h3>
        </div>

        <div class="col-md-5 scroll">
          <h3 style="letter-spacing:3px;font-weight: 600;">Sign up now to get instant access to our course materials</h3>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <div class="field">
                  <%= f.label :name %><br />
                  <%= f.text_field :name, autofocus: true, required: true, class: 'form-control' %>
                </div>

                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, required: true, class: 'form-control' %>
                </div>

                <div class="field">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "off", required: true, class: 'form-control' %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
                </div>
                
                <br>
                <div class="actions">
                  <%= f.submit "SIGN UP", class: 'btn btn-danger btn-cta-secondary bta-cta btn-lg btn-block' %>
                </div>
          <% end %>

        </div>

      </div>
    </div><!--//container-->
</section><!--//promo-->

<div class="sections-wrapper">   

  <!-- Skills Grid Section -->
  <section id="skills" class = "section">
    <a class = "anchor" id = "skills_you_will_learn"></a>
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center scroll">
                  <h2 class = "section_header">Skills You Will Learn</h2>
                  <hr class="star-primary">
              </div>
          </div>
          <div class="row">
            <% skills.each do |skill| %>
              <div class="col-sm-4 portfolio-item text-center">
                  <%= image_tag skill[2], class: 'skill_logo' %>
                  <h3><%= skill[0] %></h3>
                  <p><%= skill[1] %></p>
              </div>
            <% end %>
          </div>
      </div>
  </section>

  <!-- For Who Section -->
  <section class = "for_who_class section" id="for_who">
    <div class = "for_who_class_wrapper">
        <a class = "anchor" id = "is_techrise_for_me"></a>
          <div class="container">

              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class="section_header">Is Techrise For Me?</h2>
                      <hr>
                  </div>
              </div>

              <div class="row scroll">

                <div class = "col-sm-12 col-md-6">
                  <h3 class = "for_who_header text-center">Aspiring Entrepreneurs</h3>

                  <p>
                    You have an awesome idea that you think could change the way people do things. You want to build a prototype or MVP that you can show to your potential investors and customers to get quick feedback. But you lack the money, don't want to spend the money, or don't know any developers.
                  </p>
                  <p>
                    Why not just learn just enough coding so you can start building your web applications? Techrise is perfect for those who want to start building your prototypes for your ideas. By building real world apps from day 1, you'll learn how to quickly build out your apps to ship fast.
                  </p>

                </div>

                <div class = "col-sm-12 col-md-6">
                  <h3 class = "for_who_header text-center">Aspiring Developers</h3>

                  <p>
                    You might have tried coding before but it was too difficult and you quit. Or coding might be completely new to you. Either way, you think becoming a web developer is an awesome feat and you want to get started on a new journey.
                  </p>
                  <p>
                    Techrise teaches you how to start writing code like professional developers do in the real world. By learning how to use GitHub, Team Communication tools, and also how to solve difficult coding challenges, you will be prepared to start contributing in actual web development teams.
                  </p>

                </div>

                <div class="row">
                  <div class="col-lg-12 text-center">
                    <h2 style = "font-weight: 600;margin:60px 0px 30px 0px;">DOES THIS SOUND LIKE YOU?</h2>
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                      <%= link_to "YES, GET ME ONBOARD", new_user_registration_path, class: "btn btn-danger btn-cta-secondary bta-cta btn-lg btn-block", style: "color:white;" %>
                    </div>
                  </div>
                </div>
              
              </div>
          </div>
    </div>
  </section>

  <!-- About Section -->
  <section class="our_story_section section" id="our_story">
    <div class="our_story_section_wrapper">
        <a class = "anchor" id = "about_us"></a>
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class = "section_header">Our Story</h2>
                      <hr>
                  </div>
              </div>
              <div class="row about_text scroll">
                  <div class="col-lg-8 col-lg-offset-2">
                    <p style="text-align: justify;"><span style="font-size: 25px;font-weight: 600;">Our story began when we fell in love with Nepal</span> and it’s beautiful people during our stay for a couple of months in 2015. We made lots of friends–friends who wanted to begin their own restaurant business, friends who wanted to create an environmentally friendly local community, friends who wanted a better future for themselves and those around them.
                     </p>

                    <p style="text-align: justify;">
                      We wanted to help them turn those dreams into reality. With Takehiro’s passion for coding, and Natsuko’s drive to create social impact, TECHRISE was born.
                      We believe that teaching coding skills through TECHRISE can help our friends gain greater economic opportunities and fulfill their dreams.
                    </p>

                    
                  </div>

                  <div class="col-xs-12 text-center">
                    <h3>This is our way of sharing happiness.</h3>
                    <h3>One line of code at a time.</h3>
                    <p>- TECHRISE team</p>
                  </div>

                  <!-- <div class="col-lg-8 col-lg-offset-2 text-center" style = "padding:30px;">
                      <h3 style = "font-weight: 600;">Click the button below to</h3>
                      <h3 style = "font-weight: 600;margin:-5px 0px 30px 0px;">start your coding journey.</h3>
                      <%= link_to 'START CODING NOW', new_user_registration_path, class: "btn btn-danger btn-lg", style: "color:white;" %>
                  </div> -->
              </div>
          </div>
    </div>
  </section>

  <!-- Why Techrise Section -->
  <section id="why_techrise" class="why_section section">
    <div class="why_section_wrapper">
        <a class = "anchor" id = "why_us"></a>
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class = "section_header">Why Techrise?</h2>
                      <hr class="star-primary">
                  </div>
              </div>
              <div class="row">
                <div class = "col-sm-12 col-md-4 text-center">
<!--                   <div class = "why_techrise_icons"><i class="fa fa-graduation-cap"></i></div>
 -->              
                  <h1>1-on-1 Mentor Sessions</h1>
                  <p style="text-align:justify; font-size:20px !important;">
                    Ask questions individually to your mentor and get the support you need. By having a mentor, you can learn quicker and more effectively.
                  </p>
                </div>
              </div>

              <div class="row">
                <div class = "col-sm-12 col-md-4 text-center">
                  <!-- <div class = "why_techrise_icons"><i class="fa fa-globe"></i></div> -->
                  <h1>Build Real World Applications</h1>
                  <p style="text-align:justify; font-size:20px !important;">
                    Instead of just learning syntax and theory, we believe you can learn faster by actually building websites and web applications from day 1.
                  </p>
                </div>

                <!-- <div class = "col-sm-12 col-md-4  text-center">
                  <h1>Learn from People Like You</h1>
                  <p style="text-align:justify">
                    Our mentors were people just like you - beginners with no experience in coding - just until recently. That's why they know exactly how to go from having no experience in coding to becoming a great developer.
                  </p>
                </div> -->

              </div>

          </div>
    </div>
  </section>

  <section class="success section" style="padding-top: 50px;">
    <a class = "anchor" id = "team"></a>
      <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class = "section_header">Team</h2>
                <hr class="star-light">
            </div>
          </div>

          <div class="row">

            <div class="col-xs-12 col-md-6 scroll">

              <%= image_tag 'natsuko.jpg', class: 'prof_pic', alt: 'Techrise Nepal Natsuko Robyn Shinozaki' %>
              <br>
              <h5>Natsuko Robyn Shinozaki | Co-founder</h5>

              <p style="font-size:16px;text-align:justify;">
                I'm passionate about serving the community and turning creative ideas into reality. I've worked with various non-profits in operations and communication. I want to help create environments where people can reach their full potential. Ice-cream and momo enthusiast :)
              </p>

              <a href="https://www.linkedin.com/in/robyn-natsuko-shinozaki-12883487" target="_blank" class="pull-right"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
            </div>

            <div class="col-xs-12 col-md-6 scroll">

              <%= image_tag 'take.jpg', class: 'prof_pic', alt: 'Techrise Nepal Takehiro Mouri' %>
              <br>
              <h5>Takehiro Mouri | Co-founder / Mentor</h5>

              <p style="font-size:16px;text-align:justify;">
                Coding is awesome and my mission is to teach people how much fun it can be. I've worked with multiple start ups as a lead developer have helped turn ideas into reality through software engineering. I'm super passionate about learning how to code and teaching others that are just beginning to do the same.
              </p>

              <a href="https://www.linkedin.com/in/takehiro-mouri-a3083487" target="_blank" class="pull-right"><i class="fa fa-linkedin-square"></i> LinkedIn</a>

              <a href="http://www.takehiromouri.com" target="_blank"><i class="fa fa-globe"></i> Personal Website</a>
            </div>

          </div>


      </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="section">
    <a class = "anchor" id="contact_us"></a>
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class = "section_header">Contact Us</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 scroll">
                  <%= simple_form_for Contact.new(params[:contact]), html: {id: "contactForm"}, remote: true do |f| %>
                    <div class="row control-group">
                      <div class="form-group col-xs-12 floating-label-form-group controls">
                        <%= f.input :name, required: true, placeholder: 'Name', class: 'form-control' %>
                      </div>
                    </div>

                    <div class="row control-group">
                      <div class="form-group col-xs-12 floating-label-form-group controls">
                        <%= f.input :email, required: true, placeholder: 'Email', class: 'form-control' %>
                      </div>
                    </div>

                    <div class="row control-group">
                      <div class="form-group col-xs-12 floating-label-form-group controls">
                        <%= f.input :message, as: :text, required: false, input_html: {rows: 6}, placeholder: 'Message', class: 'form-control' %>
                      </div>
                    </div>
                    <%= f.button :submit, 'Send Message', class: 'btn btn-success btn-lg', id: 'ContactSubmit', data: { disable_with: "Sending..." } %>
                  <% end %>
              </div>
          </div>
      </div>
  </section>

  <!-- ******CTA Section****** -->
  <section id="cta-section" class="section cta-section text-center home-cta-section">
      <div class="container">
         <h2 class="title">Ready to start coding with Techrise?</h2>
         <p class="intro">Sign up to get <span class="counting">instant access</span> to course materials and a personal mentor.</p>
         <p><a class="btn btn-cta btn-cta-primary" href="/users/sign_up" target="_blank">Sign Up Now</a></p>
      </div><!--//container-->
  </section><!--//cta-section-->

</div><!-- Sections div -->

<script type="text/javascript">
$('form').on('ajax:success', function(event, data, status, xhr) {
  $('#contact_message').val('Thanks for your message!')
});

$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});

</script>