<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <% if notice.present? %>
                  <p class="alert alert-info"><%= notice %></p>
                <% end %>
                <% if alert.present? %>
                  <p class="alert alert-danger"><%= alert %></p>
                <% end %>             
                <!-- <img class="img-responsive" src="img/profile.png" alt=""> -->
                <div class="intro-text">
                    <span class="name">Start Coding</span>
                    <hr class="star-light">
                    <span class="skills">HTML/CSS - Ruby on Rails - JavaScript/jQuery - Git/Github</span>
                    
                    <div class = "join-buttons">
                      <%= link_to 'START CODING NOW', new_user_registration_path, class: "btn btn-danger btn-lg" %>
                      <%= link_to 'LOG IN', new_user_session_path, class: "btn btn-primary btn-lg" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skills You Will Learn</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
          <% skills.each do |skill| %>
            <div class="col-sm-4 portfolio-item text-center">
                <h4><%= skill[0] %></h4>
                <p><%= skill[1] %></p>
            </div>
          <% end %>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <h3>Have no prior coding experience? You can still learn how to build web applications in Ruby on Rails in just 3 months</h3>
              <p>
                Learning to code isn’t hard - if you have the right support. 
              </p>
              <p>
                Many resources are great at teaching coding, but some are aimed at being general, teaching you basic syntax and how the language works. Which is awesome, but it doesn’t teach you how to actually start building web apps.
              </p>
              <p>
                There are also other resources aimed at giving you a full intensive workload that would take a lot of time and energy to complete. These are awesome too, but it honestly takes an incredible amount of self discipline and motivation to go through.
              </p>
              
            </div>
            <div class="col-lg-4">
              <p>
                At Techrise, our goal is to combine these resources to give you just the right amount of work so that you’ll learn the basics of web development and be able to start learning more advanced things on your own.
              </p>
              <p>
                Imagine building your ideas, building your friend’s business idea, or just building a cool app to solve one of your daily problems. All that is possible by learning how to code.
              </p>
              <p>
                The path to learning code can be rough. You’ll most likely be lost or quit unless you have a path that you can follow, and have a supportive community or mentors to guide you through the process.
              </p>
              <p>
                By learning to code with us, we provide that support so that you can start building your ideas.
              </p>
              <p>
                Click the button below, start coding, and change your life.
              </p>
            </div>

            <br>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <%= link_to 'START CODING NOW', new_user_registration_path, class: "btn btn-danger btn-lg", style: "color:white;" %>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact Us</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <%= simple_form_for Contact.new(params[:contact]), html: {id: "contactForm"}, remote: true do |f| %>
                  <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                      <%= f.input :name, required: true, placeholder: 'Name', class: 'form-control' %>
                    </div>
                  </div>

                  <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                      <%= f.input :email, required: true, placeholder: 'Email', class: 'form-control' %>
                    </div>
                  </div>

                  <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                      <%= f.input :message, as: :text, required: false, input_html: {rows: 6}, placeholder: 'Message', class: 'form-control' %>
                    </div>
                  </div>
                  <%= f.button :submit, 'Send Message', class: 'btn btn-success btn-lg', id: 'ContactSubmit', data: { disable_with: "Sending..." } %>
                <% end %>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
$('form').on('ajax:success', function(event, data, status, xhr) {
  $('#contact_message').val('Thanks for your message!')
});
</script>