<div class="bg-slider-wrapper">
    <div class="flexslider bg-slider">
        <ul class="slides">
            <li class="slide slide-1"></li>
            <li class="slide slide-2"></li>
            <li class="slide slide-3"></li>
        </ul>
    </div>
</div><!--//bg-slider-wrapper-->     

<section class="promo section section-on-bg">

    <div class="container text-center">       
        <%= render "shared/flash_messages" %>

        <h2 style="letter-spacing: 4px;">Coding Bootcamp in Nepal</h2>
        <h1 class="title">The Fast Track to Learning Web Development</h1>
        
        <p class="intro" style="font-size: 19px; font-family: 'Lato', sans-serif">
          Learn Ruby on Rails through our interactive platform combining 1 on 1 mentor sessions, project based learning, and a supportive online community. Whether you are a beginner, an entrepreneur, or an aspiring developer - we are there to support you every step of the way.
        </p>
        <p>
          <a class="btn btn-cta btn-cta-primary" href="/apply">
            Apply Now
          </a>
        </p>
    </div><!--//container-->
</section><!--//promo-->

<div class="sections-wrapper">   

  <section class="section section-press text-center">
    <h3>Featured In</h3>

    <div class="press-images">
      <%= image_tag 'landing_page/huffpost.png', class: 'img-responsive' %>
    </div>
  </section>

  <!-- ******Why Section****** -->
  <section id="why" class="section why">
      <div class="container">
          <h2 class="title text-center">Why Choose TECHRISE</h2>
          <p class="intro text-center">Experience the New Way of Learning</p>
          <div class="row item">
              <div class="col-md-4 col-sm-12 col-xs-12">
                  <h3 class="title">Learn By Building</h3>
                  <div class="desc">
                    <ul>
                      <li>Build Your Portfolio</li>
                      <p>Develop several fully functional web applications and build your portfolio.</p>
                      <li>Learn Practical Skills</li>
                      <p>Learn Ruby on Rails, one of the most in-demand skills in the world</p>
                      <li>Become a Problem Solver</li>
                      <p>Develop problem solving skills to become an in-demand software engineer.</p>

                    </ul>
                      <!-- <p>
                          Most online courses teaches you how to write syntax, but not how to build things. At TECHRISE, you will be developing multiple fully functioning web applications. Learning by building not only helps you develop technical skills, but also makes you think and solve problems like a software engineer. 
                      </p> -->
                  </div>
                  <div class="quote">
                      <div class="quote-profile">
                          <%= image_tag 'landing_page/rabin.jpg', class: 'img-responsive img-circle' %>
                      </div><!--//profile-->
                      <div class="quote-content">
                          <blockquote><p>I love the way TECHRISE teaches me. It's self-learning but you will always have your mentor helping you on your every step. It's a new and effective way of learning.</p></blockquote>
                          <p class="source">Rabin Gaire</p>
                      </div><!--//quote-content-->                                     
                  </div><!--//quote-->                        
              </div><!--//content-->
              <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0 hidden-xs">
                  <%= image_tag 'landing_page/techrise-lesson.png', class: 'img-responsive' %>
                  <figcaption class="figure-caption">Our Online Platform is optimized to Accelerate your Learning</figcaption>
              </figure>
          </div><!--//item-->
          
          <div class="row item">
              <div class="col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
                  <h3 class="title">Learn With a Mentor</h3>
                  <div class="desc">
                    <ul>
                      <li>Personal 1 on 1 mentor sessions</li>
                      <p>Ask questions individually, and tackle challenging problems with your mentor.</p>
                      <li>Personalized Support</li>
                      <p>We make sure you achieve your goals by matching you with a personal mentor.</p>
                      <li>Non-technical advice and guidance</li>
                      <p>Our mentors will help you get through rough times to make sure you stay motivated.</p>
                    </ul>
                      <!-- <p>
                          Speed up your learning with the help of your personal mentor. Ask questions individually, and tackle challenging problems with the support from your mentor. They are there to take your learning to the next level. 
                      </p> -->
                  </div>
                  
                  <div class="quote">
                      <div class="quote-profile">
                          <%= image_tag 'landing_page/shreejana.jpg', class: 'img-responsive img-circle' %>
                      </div><!--//profile-->
                      <div class="quote-content">
                          <blockquote><p>1 on 1 mentor sessions are a very strong part of TECHRISE. Whenever I get stuck, my mentor is always there to help me.</p></blockquote>
                          <p class="source">Shreejana Poudel</p>
                      </div><!--//quote-content-->         
                  </div><!--//quote-->                        
              </div><!--//content-->
              <figure class="figure col-md-4 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0 hidden-xs">
                  <%= image_tag 'background/mentor_image.jpg', class: 'img-responsive flaticon' %>                        
              </figure>
          </div><!--//item-->
          
          
          <div class="row item last-item">
                <div class="col-md-4 col-sm-12 col-xs-12">
                  <h3 class="title">Real time support</h3>
                  <div class="desc">
                    <ul>
                      <li>Community Support</li>
                      <p>Join a community of peers to help you overcome challenges</p>
                      <li>Real-time Troubleshooting</li>
                      <p>Post questions anytime, anywhere, 7 days a week, and get real-time support</p>
                      <li>Regular Code Reviews</li>
                      <p>Get all of your apps and code submissions reviewed. Receive constant feedback to improve your coding quality.</p>
                    </ul>
                      <!-- <p>
                          It's natural that you get stuck with bugs and errors along the way. That's why we have our friendly online community that can help you overcome these challenges. Post questions to our online community anytime, anywhere, and get the real time support you need. 
                      </p> -->
                      
                  </div>
                  <div class="quote">
                      <div class="quote-profile">
                          <%= image_tag 'landing_page/aashik.jpg', class: 'img-responsive img-circle' %>
                      </div><!--//profile-->
                      <div class="quote-content">
                          <blockquote><p>I found my passionate family here. When I get stuck, my mentors are always there to help me. The group discussion on Slack is awesome. I really feel great to be here at TECHRISE, it changed my life.</p></blockquote>
                          <p class="source">Aashik Yadav</p>
                      </div><!--//quote-content-->
                  </div><!--//quote-->
              </div><!--//content-->
              <figure class="figure col-md-6 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 col-xs-offset-0 hidden-xs">
                  <%= image_tag 'landing_page/figure-4.png', class: 'img-responsive flaticon' %>                        
              </figure>
          </div><!--//item-->
          
          
          <div class="feature-lead text-center">          
              <h4 class="title">Want to learn more about the TECHRISE curriculum?</h4>
              <p><a class="btn btn-cta btn-cta-secondary" href="curriculum.html">Take a Look</a></p>
          </div>
      </div><!--//container-->
  </section><!--//why-->  

  <%= render 'expert_testimonial' %>

  <!-- Skills Grid Section -->
  <section id="skills" class = "section">
    <a class = "anchor" id = "skills_you_will_learn"></a>
      <div class="container">          
          <div class="row" style="margin-bottom: 20px;">
              <div class="col-lg-12 text-center scroll">
                  <h2 class="title" style="font-weight: 600">Learn Practical, In-demand Skills</h2>
                  <p>
                    At TECHRISE, you will learn a set of marketable skills that will enable you to write robust web applications. We have designed the curriculum so that you will gain the experience of not only writing good code, but writing good code together with other people.
                  </p>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <% skills.each_with_index do |skill, i| %>
                  <div class="col-sm-2 col-xs-4 portfolio-item text-center">
                    <%= image_tag skill[2], class: 'skill_logo' %>
                    <h5><strong><%= skill[0] %></strong></h5>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="break"></div>

          <div class="col-xs-12 col-md-6">
            <ul class="skills_ul">
              <li>Learn HTML/CSS and Bootstrap to create attractive web interfaces</li>
              <li>Master the Ruby Language</li>
              <li>Develop multiple real-world web applications with Ruby on Rails</li>              
              <li>Learn advanced skills such as Test Driven Development to ensure code quality</li>
              <!-- <li>Write complex algorithms and data structures</li> -->
            </ul>
          </div>

          <div class="col-xs-12 col-md-6">
            <ul class="skills_ul">
              <li>Solve challenging real coding interview problems and build up your problem solving skills</li>
              <li>Learn and apply Object Oriented Programming, MVC, and Test Driven Development</li>
              <li>Learn how to use Github to collaborate with other developers</li>
              <li>Meet like-minded Individuals who are passionate about coding</li>
            </ul>
          </div>

          <div class="col-xs-12 col-md-4 col-md-offset-4">
            <p class="hidden-xs hidden-md"><a class="btn btn-cta btn-cta-primary center-block" href="curriculum.html" style="margin: 30px auto;">Take a look at the TECHRISE Curriculum</a></p>
            <p class="visible-xs visible-md"><a class="btn btn-cta btn-cta-primary center-block" href="curriculum.html" style="margin: 30px auto;">The TECHRISE Curriculum</a></p>
          </div>

      </div>
    </section>
  </section>

  <%= render 'comparison_chart' %>

  <%= render 'founders' %>


  <!-- ******Testimonials Section****** -->
  <%= render 'testimonials' %>


  <section class="section press">
    <div class="container text-center">

        <h2 class="title">Partnerships</h2>
        <%= image_tag 'http://static1.squarespace.com/static/5390cc63e4b02566a5bb8bf0/t/539718f5e4b076c79e506193/1464376473863/?format=1500w', class: 'partnership_logo' %>        
    </div>
  </section>

  <!-- ******CTA Section****** -->
  <section id="cta-section" class="section cta-section text-center home-cta-section">
      <div class="container">
        <%= render partial: 'cta_content' %>
      </div><!--//container-->
  </section><!--//cta-section-->

</div><!-- Sections div -->

<script type="text/javascript">
$('form').on('ajax:success', function(event, data, status, xhr) {
  $('#contact_message').val('Thanks for your message!')
});

$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});

</script>