<meta property="og:image" content="<%= asset_path 'details/techrise_remote.jpg' %>"/>

<section class="program-highlights">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h1>Remote Program Highlights</h1> 

        <p class="program-highlights-details">Remote | 4 weeks | 3,000 NPR (Extendible)</p>

        <p class="program-highlights-description">
          Learn at your own pace remotely through our complete online course.
        </p>  

        <span class="highlight-checkbox">1 Personal Mentor Session per week via Skype</span>
        <span class="highlight-checkbox">Learn Full Stack Web Development by Building Real Applications</span>
        <span class="highlight-checkbox">Ask questions and interact with community members</span>

        <!-- <span class="highlight-checkbox">Workshops/Review Sessions</span>
        <span class="highlight-checkbox">Outside Speakers from the industry</span>
        <span class="highlight-checkbox">Lifetime Access to Curriculum</span> -->
        
        <!-- <h2>This course is perfect if you…</h2>
        <ul>
          <li>Want to become a professional web developer</li>
          <li>Want to have frequent guidance from personalised mentors</li>
          <li>Want experience working on real world projects</li>
          <li>Want to get direct advice and guidance from industry leaders</li>
          <li>Want to learn Ruby on Rails  - a hugely popular framework all over the world, especially for startups</li>
        </ul> -->
      </div><!-- col-xs-12 col-md-6 -->

      <div class="col-xs-12 col-md-6">
        <%= image_tag 'details/video-chat.png' %>
        
        
      </div><!-- col-xs-12 col-md-6 -->
    </div><!-- row -->
  </div><!-- container -->
</section>

<section class="immersive-overview">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <h1 class="text-center">Learn Anytime, Anywhere</h3>
        <p>
          Want to code from anywhere at anytime? Learn at your own pace remotely through our complete online course. Our one month package includes weekly Skype mentor sessions and access to the online forum where you can ask questions any time. Meet with your personal mentor online each week, work on real-world projects, and solve algorithm challenges to boost up your skills for your career. Our innovative platform combining an online curriculum, project based learning, passionate mentors, and a strong community that is always there to help accelerate your path to becoming a professional web developer at an affordable price. 
        </p>
      </div><!-- col-xs-12 col-md-6 col-md-offset-3 -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- immersive-overview -->

<section class="program-phases">
  <div class="container text-center phase-container">
    <div class="phase">
      <h1><strong>Phase 1</strong> <span class="phase-name">Programming Fundamentals</span></h1>

      <h4>
        Build the fundamental skills needed for web development as you learn HTML, CSS, Bootstrap, Ruby, and the command line.
      </h4>

      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <%= image_tag 'details/foobar.jpg', class: 'screenshot img-responsive' %>
        </div>
      </div>

    </div>

    <div class="phase"> 
      <h1><strong>Phase 2</strong> <span class="phase-name">Web Development Fundamentals</span></h1>

      <h4>
        Build your first Ruby on Rails application.
      </h4>

      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <%= image_tag 'details/ideator-screenshot.jpg', class: 'screenshot img-responsive' %>
        </div>
      </div>
    </div>

    <div class="phase">
      <h1><strong>Phase 3</strong> <span class="phase-name">Ruby Challenges</span></h1>

      <h4>
        Build your confidence with Ruby by solving real interview problems.
      </h4>

      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <%= image_tag 'details/string_compressor.jpg', class: 'screenshot img-responsive' %>
        </div>
      </div>
    </div>

    <div class="phase">
      <h1><strong>Phase 4</strong> <span class="phase-name">Build Your Second Application</span></h1>

      <h4>
        Build a complete mock of the popular Instagram application.
      </h4>

      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <%= image_tag 'details/instapost.jpg', class: 'screenshot img-responsive' %>
        </div>
      </div>
    </div>

    <div class="phase">
      <h1><strong>Phase 5</strong> <span class="phase-name">Testing and Test Driven Development</span></h1>

      <h4>
        Learn Test Driven Development (TDD) and learn to build tested, quality applications.
      </h4> 

      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <%= image_tag 'details/rspec.jpg', class: 'screenshot img-responsive' %>
        </div>
      </div>
    </div> 
  </div>
</section>

<section class="learning-at-techrise">
  <div class="container">
    <h1 class="text-center">Learning at TECHRISE</h1>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'details/physics.png' %>
      </div>
      <div class="col-md-8">
        <h3>Learn at your own time, at your own pace</h3>
        <p>
          Our online platform enables you to study and learn anytime and anywhere you want. Get the quality learning experience without ever having to step outside your home.
        </p>
      </div>
    </div>  

    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'details/video-chat.png' %>
      </div>
      <div class="col-md-8">
        <h3>Online mentor sessions</h3>
        <p>
          Receive 1 on 1 mentorship from your personalized mentor once a week on Skype. Closely working with your mentor will help you overcome challenges quickly and will accelerate your path to becoming a web developer.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'details/laptop.png' %>
      </div>
      <div class="col-md-8">
        <h3>Get your questions answered immediately</h3>
        <p>
          You have access to the online forum and Slack channel where you can ask questions anytime. Within our office hours, you will get an almost instant response. Get your questions answered and learn quickly!
        </p>
      </div>
    </div>    

  </div>
</section>

<section class="payment">
  <div class="container">
    <h1>Tuition Fees</h1>
    <div class="payment-details">
      <div class="payment-price">3,000 NPR / Month</div>

      <div class="row">
        <div class="col-xs-12 col-md-4">
          <h4>Online 1 on 1 Mentorship</h4>
          <p>
            Accelerate your learning with weekly online mentor sessions. Having a personal mentor is the fastest way to learning quickly.
          </p>
        </div>

        <div class="col-xs-12 col-md-4">
          <h4>Project Based Learning</h4>
          <p>
            Build real web applications to build practical skills and build a portfolio.
          </p>
        </div>

        <div class="col-xs-12 col-md-4">
          <h4>Ask Questions Anytime</h4>
          <p>
            Clarify any questions you might have by asking them at anytime. TECHRISE mentors will try to respond as quickly as possible.
          </p>
        </div>

        <div class="col-xs-12">
          <p><small>* You can also extend your course at an additional 2,500 NPR per month.</small></p>
        </div>
      </div><!-- row -->
    </div><!-- payment-details -->
  </div><!-- container -->
</section>

<%= render 'comparison_chart' %>
