<div class="devise_box forum_container">

  <% flash.each do |message_type, message| %>
    <% if message_type == "notice" %>
      <p class="alert alert-info alert-dismissible text-center"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= notice %></p>
    <% elsif message_type == "alert" %>
      <p class="alert alert-danger alert-dismissible text-center"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= alert %></p>
    <% else %>
      <div class="alert alert-<%= message_type %> alert-dismissible text-center"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= message %></div>
    <% end %>
  <% end %>


  <h3>Edit</h3>

  <%= simple_form_for @reply, url: question_reply_path(params[:question_id], params[:id]), method: :patch, input_html: {class: 'form-horizontal'} do |f|  %>
    <div data-no-turbolink>
      <%= f.input :content, label: 'Comment', required: true %>
    </div>

    <br>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>

</div>
