<div class = "row">
  <div class = "col-xs-12 col-sm-10 col-sm-offset-1">
    <h3 class="text-center" style="font-size: 30px;">Sign up for Admission</h3>

    <p>
      After you sign up, you will have 2 weeks to complete a series of pre-work assignments. At TECHRISE, we only accept highly motivated individuals who are eager to increase their skills and keep pushing themselves. The pre-work assignments are designed to test whether or not the applicant is motivated enough to succeed at TECHRISE.
    </p>

    <p>
      Upon completion of the pre-work assignments, we will reach out to you for an interview for admission into TECHRISE. Once you are admitted, you will be paired with a TECHRISE mentor and the course materials will be released.
    </p>  

    <hr>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, required: true, class: 'form-control', placeholder: 'First Name' %>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true, required: true, class: 'form-control', placeholder: 'First Name' %>
      </div>

      <div class="field">
        <%= f.label :facebook_handle %><br />
        <%= f.text_field :facebook_handle, autofocus: true, required: true, class: 'form-control', placeholder: 'Your Facebook ID' %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, required: true, class: 'form-control', placeholder: 'Your email' %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", required: true, class: 'form-control', placeholder: 'Your password' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'  %>
      </div>
      
      <br>
      <div class="actions">
        <%= f.submit "Sign up", class: 'btn btn-block btn-cta-primary' %>
      </div>
    <% end %>

    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>