<% title("Student Question Archive | TECHRISE") %>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Question</h4>
      </div>
      <%= simple_form_for StudentQuestion.new do |f| %>
        <div class="modal-body">        
            <%= f.input :title %>
            <%= f.input :answer %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit class: 'btn btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/flash_messages" %>

<div class="row">
  <div class="col-xs-12">
    <h1 class="mentee_title text-center"><span class="back_to_dashboard"><%= link_to '<i class="fa fa-caret-left" aria-hidden="true"></i> Back to Dashboard'.html_safe, dashboard_path, class: 'btn btn-back btn-default' %></span>Student Question Archive</h1>
    <p class="text-center">
      Archive of answers to questions asked by TECHRISE students.
    </p>
  </div>
</div>


<div class="panel">
  <div class="panel-head">
    <div class="col-xs-12 col-sm-10">
      <%= form_tag community_index_path, method: :get, class: 'form-inline' do %>
          <%= text_field_tag :query, params[:query], placeholder: 'Search for an answer', class: 'form-control' %>
          <%= submit_tag "Search", name: nil, class: 'btn btn-danger' %>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-2">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
        Add New Question
      </button>
    </div>
  </div>
  <div class="panel-body">

    <%= will_paginate @student_questions, renderer: BootstrapPagination::Rails %>


    <% @student_questions.each do |question| %>
      <ul class="question_list">
        <% user = User.find(question.user_id) %>

        <li class="question_container">
          <div class="row">
            <div class="col-xs-12 col-sm-2">
              <%= image_tag user.avatar, class: 'community_prof_pic' %>
            </div><!-- col-xs-12 col-sm-4 -->

            <div class="col-xs-12 col-sm-8">
              <h5 class="question_container_title"><%= link_to question.title, question %></h5>
              <div class="question_container_information">
                <span class="question_container_time"><%= time_ago_in_words(question.created_at) %> ago</span> by <span class="question_container_user"><%= user.name %></span>
              </div><!-- question_container_information -->

            </div><!-- col-xs-12 col-sm-2 -->

            <div class="col-xs-12 col-sm-2">
              <div class="reply_count"><%= question.comments.count %></div>
              <div class="reply_count_label">Comments</div>
            </div><!-- col-xs-12 col-sm-2 -->
          </div><!-- row -->
          
        </li><!-- question_container -->
      </ul><!-- question_list -->
    <% end %>

    <%= will_paginate @student_questions, renderer: BootstrapPagination::Rails %>
   
  </div><!-- panel-body -->
</div><!-- panel -->