<div class = "forum_section">

<h1>Have a Question?</h1>
<p>
	Don't leave your questions unanswered! Ask good questions to get good answers.
</p>

<% forum_for_lesson = Forum.find_by(name: name) %>

	<%= link_to '<i class="fa fa-question-circle" aria-hidden="true"></i> Ask Question'.html_safe, new_forum_comment_path(forum_for_lesson, lesson: lesson), class: 'btn btn-primary', locals: {lesson: lesson} %>

	<br>
	<br>

    <h3>All Questions</h3>
    <hr>

		<% forum_for_lesson.comments.where(lesson: lesson).order("created_at DESC").each do |comment| %>
			<h4><%= link_to comment.title, forum_comment_path(comment.forum_id, comment.id) %> <span class = "comment_list">by <%= comment_owner(comment) %></span> <span class = "pull-right comment_list">Replies: <%= comment.replies.count %><%= link_to ' Delete', forum_comment_path(comment.forum_id, comment.id), method: :delete, data: { confirm: 'Are you sure?' } if current_user && current_user.admin %></span></h4>
		<% end %>


</div>