<h1 class="text-center" style="margin-bottom: 50px">Applicants Dashboard</h1>


<%= will_paginate @applicants, renderer: BootstrapPagination::Rails %>

<table class="table table-responsive" style="background: #fff;">
  <tr>
    <th>Sign Up Date</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Package</th>
    <th>Application Reason</th>
    <th></th>
  </tr>

  <% @applicants.each do |user| %>
    <tr>
      <td><%= display_date(user.created_at) %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.phone %></td>
      <td><%= user.package %></td>
      <td><%= simple_format user.application_reasons %></td>
      <td>

          <%= link_to 'Admit', user_student_admissions_path(user_id: user.id), class: 'btn btn-sm btn-cta btn-cta-primary', data: { confirm: "Are you sure?"}, method: :post %>

          <%= link_to 'Admin', edit_admin_user_path(user.id), class: 'btn btn-sm btn-cta btn-cta-secondary' %>

      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @applicants, renderer: BootstrapPagination::Rails %>