

<p>
	Hi <%= current_user.first_name %>! <strong>Welcome to TECHRISE!</strong>
</p>

<p>
	Our mission at TECHRISE is to provide friendly and meaningful support for our students so that students can start coding to achieve their dreams.
</p>

<p>
	We have two simple core learning philosophies that we embrace in our teaching method.
</p>

<ul>
	<li><strong>Build and Learn</strong></li>
	<li><strong>Ask Questions</strong></li>
</ul>

<p>
	We are here to teach and motivate students to become skilled web developers in a short amount of time by teaching not only the skills, but also the mentality of web developers through our innovative coding education platform.
</p>

<p>
	<strong>In the intro course, here's what you will accomplish:</strong>
</p>

<h3>Step 1. Create 2 HTML/CSS Projects</h3>

<%= image_tag 'intro/dash.png', class: 'img-responsive screenshot' %>

<h3>Step 2. Create a Personal Resume Page</h3>

<%= image_tag 'intro/resume.png', class: 'img-responsive screenshot' %>

<h3>Step 3. Develop and Launch a Portfolio Website</h3>

<%= image_tag 'intro/portfolio.png', class: 'img-responsive screenshot' %>

<h3>Step 4. Solve Coding Challenges in Ruby</h3>

<%= image_tag 'intro/ruby_challenges.png', class: 'img-responsive screenshot' %>

<p>
	Whenever you feel lost or confused about anything, feel free to reach out to the TECHRISE mentors for help. We know that learning web development can be frustrating at first - that's why we are here to help. Whenever you have a question, you can click on the question mark on the sidebar and ask a question.
</p>

<p>
	Ready to get started with your web development career?
</p>














