<% lesson = activity.parameters[:course_name].split(/(?=[A-Z])/) %>
<% lesson_name = lesson.join(" ").chomp("Lesson") %>


<div class="row">
  <div class="col-xs-2">
    <%= image_tag activity.owner.avatar, class: 'profile-pic-activity-log' %>
  </div>
  <div class="col-xs-10">
    
      
        <p class="message-title-activity-log">
          <strong><%= activity.owner.name %> completed a lesson</strong>
        </p>
        <p class="message-body-activity-log">
          Lesson <%= activity.parameters[:lesson_id] %> in <%= lesson_name %>
        </p>
        <p class="message-time-activity-log">
          <%= time_ago_in_words(activity.created_at) %> ago
        </p> 
      
    
  </div>
</div>