<div class = "forum_section submissions">

  <div class="row">
    <div class="col-xs-12">
      <h3 class="question-header mentee_title text-center">
        <span class="back_to_dashboard">
          <% if @submission_by_current_user %>
            <%= link_to 'My Submission', submission_path(@submission_by_current_user.id), class: 'btn btn-back btn-default', :"data-no-turbolink" => true %>
          <% end %>
        </span>
         Submissions
       </h3>
    </div>
  </div>

<% if current_user.admin %>

  <%= render 'submissions/student_submissions' %>
  <hr>
  
  <% @paginated_submissions.order("created_at DESC").each do |submission| %>
    <%= render partial: 'submissions/submission', locals: {submission: submission} %>
  <% end %>

  <%= will_paginate @paginated_submissions, renderer: BootstrapPagination::Rails %>

<% elsif (@submission_by_current_user && @submission_by_current_user.approved) %>
  <%= render 'submissions/student_submissions' %>
  <hr>

  <% @submissions.order("created_at DESC").each do |submission| %>

    <%= render partial: 'submissions/submission', locals: {submission: submission} %>

  <% end %>

  <%= will_paginate @paginated_submissions, renderer: BootstrapPagination::Rails %>

<% elsif @submission_by_current_user %>

  <%= render 'submissions/student_submissions' %>
  <hr>
  <h4><%= link_to @submission_by_current_user.title, submission_path(@submission_by_current_user.id) %> <%= '<i class="fa fa-check-circle" style="margin-left: 5px; color: #5cb85c;" aria-hidden="true"></i>'.html_safe %>
  </h4>

  <p class="alert alert-success">To view submissions by other students, have your submission approved by a mentor.</p>

<% else %>

  <%= render 'submissions/student_submissions' %>

  <hr>

  <p class="alert alert-success">To view submissions by other students, have your submission approved by a mentor.</p>

<% end %>


</div>
