<div class="devise_box forum_container">

	<div class="back_to_lesson">
		<%= back_to_lesson %>
	</div>

	<div class="row">
		<div class="col-xs-2">
			<%= image_tag @user.avatar, class: 'prof_pic_forum' %>
			<div class="prof_name">
				<%= submission_comment_owner(@submission_comment) %>
			</div>
			<div class="prof_badge">
				<% if @user.mentor %>
					<label class="label label-default">TECHRISE Mentor</label>
				<% end %>
			</div>
		</div>

		<div class="col-xs-10">
			<h3><%= @submission_comment.title %></h3>
			<small><%= display_date(@submission_comment.created_at) %></small>
			<%= sanitize raw(@submission_comment.description) %>
			<p class = "pull-right" ></p>
			<br class = "clear">

			<% if current_user.admin || @submission_comment.user_id == current_user %>
				<div id="approval_form_container">
					<%= render partial: 'approval_form' %>
				</div>
			<% end %>
		</div>
	</div>

	<hr>

				
	<% @submission_comment.submission_replies.each do |reply| %>
		<% user = User.find(reply.user_id) %>
		<div class="row">
			<div class="col-xs-2">
				<%= image_tag user.avatar, class: 'prof_pic_forum' %>
				<div class="prof_name">
					<%= submission_reply_owner(reply) %>
				</div>
				<div class="prof_badge">
					<% if user.mentor %>
						<label class="label label-default">TECHRISE Mentor</label>
					<% end %>
				</div>
			</div>

			<div class="col-xs-10">
				<small><%= display_date(reply.created_at) %></small>
				<%= sanitize raw(reply.content) %>
			</div>
		</div>
		<hr>
	<% end %>


	<%= simple_form_for :submission_reply, url: submission_submission_comment_replies_path(params[:submission_id], params[:id]), method: :post, input_html: {class: 'form-horizontal'} do |f|  %>
		<div data-no-turbolink>
			<%= f.cktext_area :content, label: 'Comment', ckeditor: {language: 'us'}, required: true %>
		</div>
		<%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>

		<br>
		<%= f.submit 'Submit', class: 'btn btn-primary' %>
	<% end %>
</div>
