<div class="col-md-offset-1 col-md-10 col-xs-12">
	<div class="devise_box submission_container">
		<%= back_to_lesson %>

		<h3><%= @submission_comment.title %></h3>
		<%= sanitize raw(@submission_comment.description) %>
		<p class = "pull-right" ><small>by <%= submission_comment_owner(@submission_comment) %></small></p>

		

		<br class = "clear">

		<% if current_user.admin %>
			<div id="approval_form_container">
				<%= render partial: 'approval_form' %>
			</div>
		<% end %>

		<hr>

		<% @submission_comment.submission_replies.each do |reply| %>
			<%= sanitize raw(reply.content) %>
			<p class = "pull-right" ><small>by <%= submission_reply_owner(reply) %></small></p>
			<br class = "clear">
			<hr>
		<% end %>



		<%= simple_form_for :submission_reply, url: submission_submission_comment_replies_path(params[:submission_id], params[:id]), method: :post, input_html: {class: 'form-horizontal'} do |f|  %>
			<div data-no-turbolink>
				<%= f.cktext_area :content, label: 'Comment', ckeditor: {language: 'us'}, required: true %>
			</div>
			<%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>

			<br>
			<%= f.submit 'Submit', class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>