<div class = "lesson_nav_box text-center">

  <% if @quiz_completed %>

    <% if @next_lesson > @current_course_length %>
      <p>
        Congratulations! You've reached the end of this course.
      </p>
    <% else %>
      <p>
        Understand the gist? Cool, let's move on.
      </p>
    <% end %>

    <% unless @current_lesson_progression.nil? %>

      <%= simple_form_for :progression, url: progression_path(@current_lesson_progression.id), html: {id: 'delete_progression_form'}, method: :delete, remote: true do |f| %>
        <%= f.input :lesson_id, as: :hidden, input_html: { value: @current_lesson_id } %>
        <%= f.input :course_name, as: :hidden, input_html: { value: @course_name } %>

        <%= button_tag(type: 'submit', class: "btn btn-success", id: "progression_form_button") do %>
          <i class="fa fa-check-circle" aria-hidden="true"></i> Mark as Uncompleted
        <% end %>
      <% end %>

    <% else %>

      <%= simple_form_for :progression, url: progressions_path, html: {id: 'progression_form'}, method: :post, remote: true do |f| %>
        <%= f.input :lesson_id, as: :hidden, input_html: { value: @current_lesson_id } %>
        <%= f.input :course_name, as: :hidden, input_html: { value: @course_name } %>

        <%= button_tag(type: 'submit', class: "btn btn-warning", id: "progression_form_button") do %>
          <i class="fa fa-check-circle" aria-hidden="true"></i> Mark as Completed
        <% end %>
      <% end %>

    <% end %>

    <br>

    <%= link_to 'Previous Lesson', "/#{@current_course_link}/#{@prev_lesson}", class: 'btn btn-warning btn-lg' if @prev_lesson > 0 %>
    <%= link_to 'Next Lesson', "/#{@current_course_link}/#{@next_lesson}", class: 'btn btn-success btn-lg' if @next_lesson <= @current_course_length %>
    
  <% else %>
    <p>
      Complete the quizzes to mark this lesson as completed!
    </p>
  <% end %>
  <!-- if quiz_completed -->
</div>
