<h1><%= title_for(IdeatorLesson, 1, 1) %></h1>

<p>
	Get ready to embark on a new journey in your web development career! From this lesson, we'll be creating rails applications together, where you'll learn how to create full featured applications.
</p>

<div class="well">
	<h3>How to gain the most out of the lessons</h3>

	<ul>
		<li><strong>Don't copy and paste</strong> - it is always better to actually type the code yourself. <strong>Muscle memory</strong> is really important when learning how to code!</li>
		<li><strong>Ask Questions</strong> - whenever something doesn't make sense to you, first google, then ask for help! We are always here to help out.</li>
		<li><strong>Don't be frustrated</strong> - some of these lessons might be difficult for you, but don't be frustrated, it's part of learning and it is important to relax and keep on going.</li>
	</ul>
</div>

<p class="alert alert-warning">
	Make sure you already have Rails installed in your system. If you haven't been able to do so yet, reach out to a mentor before proceeding in the course.
</p>

<p>
	Let's get started!
</p>

<div class="well">
	<h3>What we will be building</h3>

	<p>
		Go to <%= link_to 'this link', 'http://techrise-ideator.herokuapp.com/' %> to get an overview of what kind of application we are going to create.
	</p>	

	<p>
		It is a simple web application where users can post ideas free onto the website. Think of it as a super simple version of Twitter.
	</p>
</div>


<h2>Setting Up Your Cloud9 Environment</h2>

<p>
	Installing Ruby on Rails, Ruby, git, and everything else takes so much time and it can be extremely frustrating. We don't want you to get stuck on this part - we'd rather have you start coding immediately :) That's why we provide Cloud9 accounts for all of our students, so that any student can start coding right away.
</p>

<p class="alert alert-success">
	You should have gotten an invitation from the TECHRISE team by now, but if you haven't please contact us at contact@techrise.me.
</p>

<p>
	Once you've signed up for Cloud9, then you can create a workspace:
</p>

<%= image_tag 'ideator/c9_dashboard.png', class: 'screenshot' %>	

<p>
	Click on "Create New Workspace". This will take you to a new page where you can fill out information about your new project.
</p>

<p>
	Enter "Ideator" as the project name, and choose the Ruby template as shown below:
</p>

<%= image_tag 'ideator/c9_new_project.png', class: 'screenshot' %>

<p>
	Finally, click the "Create Workspace" button. Just like that, your Rails environment has been created!
</p>

<p>		
	With C9, you can develop applications in the browser. The interface looks similar to a setup you would have on your computer.
</p>

<%= image_tag 'ideator/c9_interface.png', class: 'screenshot' %>

<p>
	To create a new terminal window, you can click on the plus button up top:
</p>

<%= image_tag 'ideator/c9_new_terminal.png', class: 'screenshot' %>

<p>	
	Try clicking around to see how everything works. Everything is designed so that it works just like the set up that you are used to!
</p>

<p>
	First, let's open up our terminal.
</p>

<!-- <div class="well">
	<h3>Command Line Crash Course</h3>

	<p>
		<code>cd</code> <strong>stands for <em>change directory</em>.</strong> We can use the <code>cd</code> command to navigate to different folders in the terminal.
	</p>

	<%= create_flashcard %>

	<p>
		By default, the directory will be at the root directory of the user that is signed in (typically it is <code>/Users/YourNameHere</code>). We can move to different folders within our computer inside the terminal.
	</p>

	<p>
		For example, let's go to the <code>desktop</code> directory. In the terminal, let's type in the following command and press enter:
	</p>

<pre><code class="bash">
cd ~/desktop
</code></pre>

	<p>
		The <code>~</code> means the root directory. We can display all of our folders in our desktop. To do so, let's go into the terminal and type the following command press enter:
	</p>

<pre><code class="bash">
ls
</code></pre>	
	<p>
		This should print out all of your files in your desktop. We can also navigate to other folders as well. For example, let's navigate to the <code>Documents</code> folder. In your terminal, type in the following and press enter:
	</p>	

<pre><code class="bash">
cd ~/documents
</code></pre>

	<p>
		Once again, let's view all of our folders inside our <code>Documents</code>. In your terminal, type in the following and press enter:
	</p>

<pre><code class="bash">
ls
</code></pre>
	<p>
		You should now see all of your folders displayed in your terminal. Awesome!
	</p>	
</div>

<p>
	In the terminal, let’s navigate to our desktop. In your terminal, type in the following and press enter:
</p>


<pre><code class="bash">
cd ~/desktop
</code></pre>

<p>
	This is where we’ll create our ideator app. In the terminal that we just opened up, let’s type in the following command and press enter:
</p>


<pre><code class="bash">
rails new ideator
</code></pre>

<p>
	This command magically creates a new rails application. Awesome!
</p> -->

<div class="well">
	<h3>How to create a new Rails application</h3>

	<p>
		When using C9, you don't have to create a new Rails application - C9 does that all for you. But if you want to install Ruby on Rails and Ruby on your system and create a new Rails application, this is what you should do.
	</p>

	<p>
		The command to create a new Rails application is this:
	</p>

<pre><code class="bash">
rails new app_name
</code></pre>

	<p>
		You can replace <code>app_name</code> with any name that you want to give your app. Running this command will automatically generate many files for you so that you can get started on building your application instantly.
	</p>

	<%= create_flashcard %>

	<p>
		Running the command should create a bunch of files and you shouldn’t get any errors.
	</p>


</div>

<p>
	For every new Rails application, we have to create our initial database. In the terminal enter the following commands:
</p>

<pre><code class="bash">
rake db:create:all
</code></pre>

<!-- <div class="well">
	<h3>No Rakefile found?</h3>
	<p>
		If you get an error saying <code>No Rakefile found</code>, chances are you didn't navigate to your <code>ideator</code> folder before running the <code>rake</code> commands.
	</p>

	<p>
		If you haven't done so, make sure to enter <code>cd ~/desktop/ideator</code> before entering the <code>rake</code> commands.
	</p>

</div>
 -->
<p>
	Now let’s fire up our rails server by entering this command in the terminal window.
</p>

<pre><code class="bash">
rails s -b $IP -p $PORT
</code></pre>

<p>
	Give it a few seconds to load. You can start the application by clicking the Preview button:
</p>

<%= image_tag 'ideator/c9_start_server.png', class: 'screenshot' %>

<p>
	You should see a nice welcome page from Ruby on Rails.
</p>

<%= image_tag 'ideator/welcome_page.png', class: 'img-responsive screenshot', style: 'margin-bottom: 30px' %>
<!-- 
<div class="well">
	<h3>Don't see a nice welcome page?</h3>
	<p>
		If the <code>rails server</code> command is giving you errors, chances are you didn't navigate to your <code>ideator</code> folder.
	</p>

	<p>
		If you haven't done so, make sure to enter <code>cd ~/desktop/ideator</code> before entering <code>rails server</code>.
	</p>

</div> -->

<p>
  Awesome! You're one step closer to finishing your first rails app!
</p>


