<% user = User.find(@feedback.user_id) %>
<div class="devise_box forum_container">
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= image_tag user.avatar, class: 'prof_pic_forum' %>
      <div class="prof_name">
        <%= user.name %>
      </div>
      <div class="prof_badge">
        <% if user.mentor %>
          <label class="label label-default">TECHRISE Mentor</label>
        <% end %>
      </div>

    </div>

    <div class="col-xs-12 col-sm-10">
      <h3><%= @feedback.title %></h3>
      <small><%= display_date(@feedback.created_at) %></small>
      <br>
      <%= sanitize raw(@feedback.content) %>
      <p class = "pull-right" ></p>
      <br class = "clear">
    </div>
  </div>
  <hr>
</div>
