<div class="row">
  <div class="col-xs-12">
    <h1 class="mentee_title text-center"><span class="back_to_dashboard"><%= link_to '<i class="fa fa-caret-left" aria-hidden="true"></i> Back to Dashboard'.html_safe, dashboard_path, class: 'btn btn-back btn-default' %></span> Resources to Dive Deeper</h1>
  </div>
</div>

<div class="devise_box">

  <p>
    As a TECHRISE mentor, your job is to help students understand difficult concepts in a friendly way. In order to do so, you have to keep learning to gain more knowledge and also understand how everything works at a deeper level. 
  </p>

  <p>
    Here is a list of resources that you can take a look at to learn topics that are important in Ruby on Rails development.
  </p>

  <ul>
    <li><%= link_to 'Rails Guides', 'http://guides.rubyonrails.org/' %> - These guides are really easy to understand and are the go to when trying to learn the features of Ruby on Rails</li>
    <li><%= link_to 'Railscasts', 'http://railscasts.com/' %> - Ryan Bates, who makes the video tutorials on this website does a great job explaining how to build complex-looking features. Although Ryan has not updated the site for some time, it still has a wealth of knowledge.</li>
    <li><%= link_to 'Go Rails', 'https://gorails.com/' %> - Go Rails has a ton of video content that shows you how build different features.</li>
    <li><%= link_to 'Ruby Web Dev The Other Way', 'http://rwdtow.stdout.in/' %> - this goes into pretty advanced concepts, but if you can grasp all of these concepts, you are well on your way to becoming a really really good developer.</li>
    <li><%= link_to 'Thought Bot Blog', 'https://robots.thoughtbot.com/' %> - ThoughtBot is a top-notch Rails Web Development consultant company that charges $100,000 USD minimum for a project. Their developers write blog posts which can go into quite advanced topics, but reading this blog will surely equip you with more knowledge.</li>
    <li><%= link_to 'Ruby Weekly', 'http://rubyweekly.com/' %> - This is a weekly mail magazine that has a list of interesting and useful articles regarding Ruby/Ruby on Rails</li>
    <li><%= link_to 'Toptal Interview Questions', 'https://www.toptal.com/ruby-on-rails/' %> - If you scroll towards the bottom, you'll see a bunch of questions that test whether you <em>really</em> know how Rails works. Going through the questions and testing your knowledge is a good way to realize that you don't know a lot about Rails yet :)</li>
  </ul>


</div>
