<% if last_lesson %>

  <% lesson_name = get_lesson_title(last_lesson.parameters[:course_name], last_lesson.parameters[:lesson_id]) %>

  <div class="row">
    <div class="col-xs-6">
      <h4 class="in-progress-text">In progress</h4>
    </div>

    <div class="col-xs-6 text-center">
      <h6 class="progress-lesson-info">Lesson <%= last_lesson.parameters[:lesson_id] %>: <%= last_lesson.parameters[:course_name].split(/(?=[A-Z])/).join(" ").chomp("Lesson") %></h6>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <h3><%= lesson_name %></h3>
    </div>          
    <div class="col-xs-12">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="<%= progress(last_lesson.parameters[:course_name]) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress(last_lesson.parameters[:course_name]) %>%; min-width: 4em;">
          <%= progress(last_lesson.parameters[:course_name]) %>% completed
        </div>
      </div>
    </div>

    <div class="col-xs-12 text-center">
      <%= link_to '<i class="fa fa-caret-right" style="margin-left: 5px;" aria-hidden="true"></i> Continue Lesson'.html_safe, get_lesson_url_string(last_lesson.parameters[:course_name], last_lesson.parameters[:lesson_id]), class: 'btn btn-cta-primary' %>
    </div>

  </div>

<% else %>
  <h3 class="text-center">Get started with<br>Intro to Software Engineering</h3>

  <hr/>

  <%= link_to 'Start Course', '/intro_lessons/1', class: 'btn btn-cta-primary btn-block' %>
<% end %>