<div class="col-xs-12 col-md-6 col-lg-4">
  <div class="track-container">
    <%= link_to get_lesson_url_string(track.courses.first, 1) do %>
      <div class="track">
        <div class="track-number">
          Track <%= track.number %>
        </div>
        <div class="track-title">
          <h3><%= track.title %></h3>
        </div>

        <div class="track-description">
          <p><%= track.description %></p>
        </div>
        
        <div class="track-progression">
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress %>%; min-width: 4em;">
              <%= progress %>% completed
            </div>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>