<h3>Create Flashcard</h3>
<small style="margin-bottom: 20px;">To insert code syntax, start the code block with <code>`language_name`</code> and end it with <code>`end`</code>.</small>


<%= simple_form_for @card, remote: true do |f| %>
  <%= f.input :question, placeholder: 'Write your flashcard question here', input_html: {rows: 5} %>
  <%= f.input :answer, placeholder: 'Write your flashcard answer here', input_html: {rows: 5} %>
  <%= f.input :tag_list, label: 'Related Tags', placeholder: 'Separate tags with single comma ","', input_html: {rows: 2} %>
  <%= f.input :lesson_url, as: :hidden, input_html: {value: request.original_url} %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
</div>
