<h1><%= title_for(RubyLesson, 1, 3) %></h1>

<p>
  Throughout your life as a web developer, you will be using the command line a lot. It's really useful to get used to these commands now, since they will enable you to navigate directories easily.
</p>  

<p>
  Let's get ready to learn some commands! :) This lesson is going to be an overview of the commands used most. It won't cover all of the commands, but only the necessary ones to get you started.
</p>

<p>
  Here is a list of the commands we will be convering:
</p>

<ul>
  <li><code>mkdir</code> - make directory (create a folder)</li>
  <li><code>ls</code> - list directory contents (list the contents of the directory)</li>  
  <li><code>cd</code> - change directory</li>
  <li><code>pwd</code> - print working directory (print the directory you are working in)</li>  
</ul>

<p>
  First, let's create a new folder called <code>ruby_fundamentals</code>. We can do this by typing the following in the command line:
</p>

<pre><code class="bash">
mkdir ruby_fundamentals
</code></pre>

<%= image_tag 'ruby_lessons/3-1.png', class: 'screenshot' %>

<p>
  <code>mkdir</code> stands for <strong>M</strong>ake <strong>D</strong>irectory. With this command, you can create a new folder.
</p>

<p>
  Now let's navigate to this folder that we just created.
</p>

<pre><code class="bash">
cd ruby_fundamentals
</code></pre>


<%= image_tag 'ruby_lessons/3-2.png', class: 'screenshot' %>

<p>
  The <code>cd</code> command is perhaps the command that you will use most. <code>cd</code> stands for <strong>Change Directory</strong>. We use it when we want to navigate to different directories in the terminal.
</p>

<p>
  Now let's print the directory that we are currently in right now.
</p>

<pre><code class="bash">
pwd
</code></pre>

<%= image_tag 'ruby_lessons/3-3.png', class: 'screenshot' %>

<p>
  <code>pwd</code> stands for <strong>Print Working directory</strong>. You can use whenever you need to know which directory you are in.
</p>

<p>
  Let's move back to our original directory. We can move one directory up with this command:
</p>

<pre><code class="bash">
cd ..
</code></pre>

<%= image_tag 'ruby_lessons/3-4.png', class: 'screenshot' %>

<p>
  Typing <code>..</code> will direct you to the directory above the current directory.
</p>

<p>
  Let's print the working directory:
</p>  

<pre><code class="bash">
pwd
</code></pre>

<%= image_tag 'ruby_lessons/3-5.png', class: 'screenshot' %>

<p>
  Let's now list all of the contents that exist in this directory:
</p>

<pre><code class="bash">
ls
</code></pre>

<%= image_tag 'ruby_lessons/3-6.png', class: 'screenshot' %>

<p>
  <code>ls</code> stands for <strong>list directory contents</strong>. Developers use the <code>ls</code> command whenever they want a quick look at the folders in the current directory.
</p>

<p>
  Now let's navigate back to our <code>ruby_fundamentals</code> folder:
</p>  

<pre><code class="bash">
cd ruby_fundamentals
</code></pre>

<p>
  Let's list the content of our directory:
</p>  

<pre><code class="bash">
ls
</code></pre>

<p>
  It should display nothing. Now let's create a new directory called <code>test</code>.
</p>

<pre><code class="bash">
mkdir test
</code></pre>

<p>
  Let's run the <code>ls</code> command again:
</p>  

<pre><code class="bash">
ls
</code></pre>

<%= image_tag 'ruby_lessons/3-7.png', class: 'screenshot' %>

<p>
  Now you should see the <code>test</code> directory listed. Since we won't need this folder, let's delete it:
</p>

<pre><code class="bash">
rmdir test
</code></pre>

<p>
  <code>rmdir</code> stands for remove directory.
</p>

<p>
  Now if we type in <code>ls</code>, we will not see anything displayed.
</p>

<%= image_tag 'ruby_lessons/3-8.png', class: 'screenshot' %>

<h3>Wrap Up</h3>

<p>
  In this lesson, we have briefly introduced the main commands you will be using in the beginning stages of your web development career.
</p>

<p>
  There are more commands that you can pick up along the way, but these are essential commands that every developer must know.
</p>







