<% if @submission_form && @user_submission.nil? %>
  <div class="well">
    <%= render partial: 'shared/flash_messages' %>

    <h2>Submit your work</h2>
    <p>
      Awesome work! Follow the directions on the lesson and submit your work. We'll get back to you soon and give you feedback or code review.
    </p>

    <p>
      (P.S Give it an awesome title name just for fun :D )
    </p>

    <%= simple_form_for :submission, url: submissions_path, method: :post, input_html: {class: 'form-horizontal'} do |f| %>
      <%= f.input :title, required: true %>
      <div data-no-turbolink="true">
        <%= f.input :content, as: :summernote, input_html: {rows: 6}, required: true %>
      </div>
      <%= f.input :lesson_id, as: :hidden, input_html: { value: params[:id]} %>
      <%= f.input :course_name, as: :hidden, input_html: { value: controller_name.classify} %>
      <%= f.submit 'Submit', class: 'btn btn-cta-primary btn-block' %>
    <% end %>

  </div>
<% end %>

<div class = "lesson_nav_box text-center">

  <% if @next_lesson > @lesson_length %>
    <p>
      Congratulations! You've reached the end of this course.
    </p>
  <% else %>
    <p>
      Understand the gist? Cool, let's move on.
    </p>
  <% end %>

  <% if current_user.progressions.where(course_name: controller_name.classify.constantize, lesson_id: params[:id]).count > 0 %>

    <%= simple_form_for :progression, url: progression_path, html: {id: 'delete_progression_form'}, method: :delete, remote: true do |f| %>
      <%= f.input :lesson_id, as: :hidden, input_html: { value: params[:id] } %>
      <%= f.input :course_name, as: :hidden, input_html: { value: controller_name.classify.constantize } %>

      <%= button_tag(type: 'submit', class: "btn btn-success", id: "progression_form_button") do %>
        <i class="fa fa-check-circle" aria-hidden="true"></i> Mark as Uncompleted
      <% end %>
    <% end %>

  <% else %>

    <%= simple_form_for :progression, url: progressions_path, html: {id: 'progression_form'}, method: :post, remote: true do |f| %>
      <%= f.input :lesson_id, as: :hidden, input_html: { value: params[:id] } %>
      <%= f.input :course_name, as: :hidden, input_html: { value: controller_name.classify.constantize } %>

      <%= button_tag(type: 'submit', class: "btn btn-warning", id: "progression_form_button") do %>
        <i class="fa fa-check-circle" aria-hidden="true"></i> Mark as Completed
      <% end %>
    <% end %>

  <% end %>

  <!-- hidden forms for using with create.js.erb and destroy.js.erb -->
  <%= simple_form_for :progression, url: progression_path, html: {id: 'hidden_delete_progression_form'}, method: :delete, remote: true do |f| %>
    <%= f.input :lesson_id, as: :hidden, input_html: { value: params[:id] } %>
    <%= f.input :course_name, as: :hidden, input_html: { value: controller_name.classify.constantize } %>

    <%= button_tag(type: 'submit', class: "btn btn-success", id: "progression_form_button") do %>
      <i class="fa fa-check-circle" aria-hidden="true"></i> Mark as Uncompleted
    <% end %>
  <% end %>

  <%= simple_form_for :progression, url: progressions_path, html: {id: 'hidden_progression_form'}, method: :post, remote: true do |f| %>
    <%= f.input :lesson_id, as: :hidden, input_html: { value: params[:id] } %>
    <%= f.input :course_name, as: :hidden, input_html: { value: controller_name.classify.constantize } %>

    <%= button_tag(type: 'submit', class: "btn btn-warning", id: "progression_form_button") do %>
      <i class="fa fa-check-circle" aria-hidden="true"></i> Mark as Completed
    <% end %>
  <% end %>
  <!-- end -->

  <br>

  <%= link_to 'Previous Lesson', "/#{@course_link}/#{@prev_lesson}", class: 'btn btn-warning btn-lg' if @prev_lesson > 0 %>
  <%= link_to 'Next Lesson', "/#{@course_link}/#{@next_lesson}", class: 'btn btn-success btn-lg' if @next_lesson <= @lesson_length %>
</div>
