<ul id="sidebar" class="nav nav-stacked pre-scrollable">
  <%= link_to '< All Courses', courses_path %>
  <h3><%= @course_title %></h3>
  <% @lessons.each_with_index do |chapter, i| %>

    <li>
      <h5>
        <a role="button" data-toggle="collapse" href="#chapter_<%= i %>" aria-expanded="false" data-target="chapter_<%= i %>" aria-controls="chapter_<%= i %>">
          <%= chapter[0] %>
        </a>
      </h5>
    </li>

    <div class="collapse" id="chapter_<%= i %>">
      <% chapter[1].each do |lesson| %>
        <% if controller_name.classify == "Progression" %>
          <li><%= link_to "#{lesson[0]}. #{lesson[1]} #{lesson_completed(lesson[0], params[:progression][:course_name])}".html_safe, "/#{@lesson_link}/#{(lesson[0])}" %></li>
        <% else %>
          <li><%= link_to "#{lesson[0]}. #{lesson[1]} #{lesson_completed(lesson[0])}".html_safe, "/#{@lesson_link}/#{(lesson[0])}" %></li>
        <% end %>
      <% end %>
    </div>

  <% end %>
</ul>