<% title(Tags::LESSONS[controller_name.classify.underscore + "s"].keys[params[:id].to_i - 1][1] + " | TECHRISE") %>

<style type="text/css">
.course_html {
  background: white;
}
</style>


<div class="row row-offcanvas row-offcanvas-left">
  <!-- sidebar -->
  <div class="col-lg-2 visible-lg">
      <div id="sidebar_container">
        <%= render 'sidebar' %>
      </div>
  </div>

  <div class="col-lg-8 col-lg-offset-1 col-md-12">

    <section class="lesson_content">

      <%= render partial: '/cards/widget' %>

      <%= render file: "app/views/#{@course_link}/lessons/lesson_#{@lesson}" %>
      <br class = "clear">

      <%= render 'lesson_nav_section' %>

      <%= render partial: '/submissions/for_lesson' if @submission_form == true %>

      <%= render partial: '/questions/for_lesson' %>

      <%= render 'git_workflow_modal' %>

    </section>

  </div>

</div>

<script type="text/javascript">

// add .active to current lesson
var url = window.location;
// Will only work if string in href matches with location
$('ul.nav a[href="'+ url +'"]').parent().addClass('active');

// Will also work for relative and absolute hrefs
$('ul.nav a').filter(function() {
    return this.href == url
}).parent().addClass('active');

// scroll to current lesson
var ready;
ready = function() {

  var target = document.getElementsByClassName("active");
  target[0].parentNode.scrollTop = target[0].offsetTop; 

  $("#slider").slideReveal({
    trigger: $(".trigger"),
    position: "right",
    width: 350,
    speed: 700,
    top: 70
  });

};

$(document).ready(ready);
$(document).on('page:load', ready);

</script>