<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TECHRISE Beta</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
<!--                 <li class="page-scroll">
                    <a href="#portfolio">Portfolio</a>
                </li> -->
                <!-- <li class="page-scroll">
                    <a href="#about">About</a>
                </li> -->
                
                <% if user_signed_in? %>

                    <li class="page-scroll">
                      <%= link_to 'ADMIN DASHBOARD', admin_root_path if current_user.admin %>
                    </li>

                    <li class="page-scroll">
                      <%= link_to 'SETTINGS', edit_user_registration_path %>
                    </li>

                <% else %>
                    <li class="page-scroll">
                      <a href="/#skills_you_will_learn">Skills</a>
                    </li>
                    <li class="page-scroll">
                      <a href="/#is_techrise_for_me">Goals</a>
                    </li>
                    <li class="page-scroll">
                      <a href="/#why_us">Why Techrise</a>
                    </li>
                    <li class="page-scroll">
                      <a href="/#about_us">About</a>
                    </li>
                    <li class="page-scroll">
                      <a href="/#contact_us">Contact Us</a>
                    </li>
<!--                     <li class="page-scroll">
                      <%= link_to 'PRICING', pricing_path %>
                    </li> -->

                <% end %>

                
                <li class="page-scroll">
                    <%= link_to 'LOG IN', new_user_session_path unless user_signed_in? %>
                    <%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete if user_signed_in? %>         
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>