<div class="container">       
    <h1 class="logo" style="padding-top: 13px;">
        <a href="/"><span class="text" style="font-size: 40px;color: #EC6952;font-family:'Titillium Web', sans-serif;">TECHRISE</span></a>
    </h1><!--//logo-->
    <nav class="main-nav navbar-right" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button><!--//nav-toggle-->
        </div><!--//navbar-header-->
        <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <% if user_signed_in? %>

                    <li class="nav-item page-scroll">
                      <%= link_to 'ADMIN DASHBOARD', admin_root_path if current_user.admin %>
                    </li>

                    <li class="nav-item page-scroll">
                      <%= link_to 'DASHBOARD', dashboard_path %>
                    </li>

                    <li class="nav-item page-scroll">
                      <%= link_to 'ALL COURSES', courses_path %>
                    </li>

                    <li class="nav-item page-scroll">
                      <%= link_to 'COMMUNITY', community_index_path %>
                    </li>

                    <li class="nav-item page-scroll">
                      <% 
                        @cards = current_user.cards.where(repetition_date: nil)
                        @cards += current_user.cards.today
                      %>
                      <%= link_to "STUDY CARDS <span class='badge nav-badge'>#{@cards.count}</span>".html_safe, study_path %>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#"><%= image_tag current_user.avatar, class: 'prof_pic_nav' %> <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <% if current_user.start_date && current_user.graduation_date %>
                                <li><a style="text-transform: uppercase;"><%= pluralize ((current_user.graduation_date - current_user.start_date)/1.day).to_i, 'DAY' %> UNTIL GRADUATION</a></li>
                            <% elsif !current_user.admitted && current_user.prework_end_date && current_user.prework_end_date > DateTime.now %>
                                <% remaining_prework = (current_user.prework_end_date - DateTime.now).to_i / 86400 %> 
                                <li><a style="text-transform: uppercase;"><%= remaining_prework %> DAYS UNTIL END OF PREWORK</a></li>
                            <% elsif !current_user.mentor || !current_user.admin %>
                                <li><a style="text-transform: uppercase;">- DAYS UNTIL GRADUATION</a></li>
                            <% end %>

                            <% if current_user.mentor %>
                                <li><%= link_to 'MENTOR LOGS', mentees_path %></li>
                                <li><%= link_to 'MENTOR GUIDELINES', mentor_guidelines_path %></li>
                            <% else %>
                                <li><%= link_to 'MENTOR LOGS', student_sessions_path %></li>
                            <% end %>
                            <li><%= link_to 'GUIDELINES', guidelines_path %></li>

                            <% if current_user.mentor %>
                                <li><%= link_to 'MENTOR RESOURCES', mentor_resources_path %></li>
                            <% end %>

                            <li><%= link_to 'SETTINGS', edit_user_registration_path %></li>    
                            <li><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete if user_signed_in? %></li>               
                        </ul>                            
                    </li><!--//dropdown-->    

                <% else %>

                    <li class="nav-item page-scroll">
                      <a href="/learn">Learn More</a>
                    </li>

                    <li class="nav-item page-scroll">
                      <a href="/about">About</a>
                    </li>

                    <li class="nav-item page-scroll">
                      <a href="/pricing">Pricing</a>
                    </li>

                    <li class="nav-item page-scroll">
                      <a href="/contact_us">Contact Us</a>
                    </li>

                    <li class="nav-item page-scroll">
                      <a href="/support">Support Us</a>
                    </li>

                    <li class="nav-item page-scroll">
                      <a href="/blog">Blog</a>
                    </li>

                <% end %>          
                <li class="nav-item">
                    <%= link_to 'LOG IN', new_user_session_path unless user_signed_in? %>                    
                </li>
                
                <% unless user_signed_in? %>
                    <li class="nav-item nav-item-cta last"><%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-cta btn-cta-secondary' %></li>
                <% end %>

            </ul><!--//nav-->
        </div><!--//navabr-collapse-->
    </nav><!--//main-nav-->                     
</div><!--//container-->    