<!DOCTYPE html>
<html>
<head>

  <%= render '/layouts/meta' %>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/railscasts.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/languages/erb.min.js"></script>
  
</head>

<body id="page-top" class="index">

  <div id = "wrap">

    <%= render '/layouts/nav_lessons' %>

    <div class="container">
      <div class = "content">

        <% if notice.present? %>
          <p class="alert alert-info" style = "color:white;"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="alert alert-danger" style = "color:white;"><%= alert %></p>
        <% end %>

        <%= yield %>

      </div>
    </div>

  </div>

  <%= render '/layouts/footer' %>

</body>
</html>
