<!DOCTYPE html>
<html>
<head>

  <%= render '/layouts/meta' %>

</head>

<body id="page-top" class="index course_html">

  <div id = "wrap">

    <%= render '/layouts/nav_lessons' %>

    <div class="container-fluid">
      <div class = "content">

        <% if devise_controller? %>
          <div class="col-xs-12 col-md-offset-2 col-md-8">
            <div class="devise_box">
              <%= yield %>
            </div>
          </div>
        <% else %>
          <%= yield %>
        <% end %>

      </div>
    </div>

  </div>

<%= render '/layouts/footer' %>

</body>
</html>
