<!DOCTYPE html>
<html>
<head>

  <title>Techrise Nepal - Learn to Code</title>

  <meta name="description" content="Learn how to code with interactive lessons and personal mentors at TECHRISE. Learn how to create web applications with HTML/CSS, Ruby on Rails, JavaScript, and other essential skills for all aspiring web developers and entrepreneurs.">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
<!--   <link href="css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Custom CSS -->
<!--   <link href="css/freelancer.css" rel="stylesheet">
 -->
  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <meta name="google-site-verification" content="R3LOLk39gjNUL80jKUvXPImniRdCdohSRRHTG80B6gg" />
</head>

<body id="page-top" class="index">

<%= render '/layouts/nav' %>

<%= yield %>

<%= render '/layouts/footer' %>

<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.0.9/scrollreveal.min.js"></script>

<script>
window.sr = ScrollReveal({ reset: true, duration: 1000 });
sr.reveal('.name');
sr.reveal('.skills');
sr.reveal('.join-buttons');
sr.reveal('.skills_header');
sr.reveal('.portfolio_items');
sr.reveal('.text-center');
sr.reveal('.about_text');
</script>

</body>
</html>
